<div style="text-align: center;">
    <span style="font-size: 200%">Attendance History - {{event.name}} - {{event.startdate}}</span><br>
    <a href="/events">Event List</a> | <a ng-click="open()">Edit Details</a> |
    <a href="/events/angular_view#?event_id={{event_id}}">Invites</a> |
    <a href="/events/view_attendance#?event_id={{event_id}}">Attendance</a> | 
    Attendance History<br>
</div>
<p># of Records Used in Calculation: 
    <a ng-click="setFilter('numRecords', 1)">1</a>, 
    <a ng-click="setFilter('numRecords', 2)">2</a>, 
    <a ng-click="setFilter('numRecords', 3)">3</a>, 

    <a ng-click="setFilter('numRecords', 4)">4</a>, 
    <a ng-click="setFilter('numRecords', 12)">12</a>, 
    <a ng-click="setFilter('numRecords', 13)">13</a>, 
    <a ng-click="setFilter('numRecords', 24)">24</a>, 
    <a ng-click="setFilter('numRecords', 26)">26</a>, 
    <a ng-click="setFilter('numRecords', 36)">36</a>, 
    <a ng-click="setFilter('numRecords', 52)">52</a>
    <br>Filter: 
    <a ng-click="setFilter('numPercent', 1)">All</a>, 
    <a ng-click="setFilter('numPercent', 0.75)">75% &amp; less</a>, 
    <a ng-click="setFilter('numPercent', 0.50)">50% &amp; less</a>, 
    <a ng-click="setFilter('numPercent', 0.25)">25% &amp; less</a>
</p>        
<p>
    <a ng-click="setMethod(0)">No Method</a>, 
    <a ng-click="setMethod(1)">SMS</a>,
    <a ng-click="setMethod(3)">EMail</a>, 
    <a ng-click="setMethod(10)">Preferred Contact</a>
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Num-</th>
        <th><a ng-click="sendComm(); $event.preventDefault()" href="#">Create Message</a></th>
    </tr>
    <tr dir-paginate="invite in invites | orderBy:'+person_sname' | orderBy:person_fname | filter:runFilterNumPercent | filter:runFilterGender | itemsPerPage: pageSize">
        <td><a href="/people/angular_view/#?person_id={{invite.person_id}}">{{invite.person_sname}},					{{invite.person_fname}}</a></td>
        <td><div ng-repeat="hist in invite.history| filter:runFilterNumRecords">{{(hist.value * 100)|number:1}}%</div></td>
        <td><ui-select ng-model="choice[invite.person_id]" theme="selectize"
                   ng-disabled="disabled" style="width: 400px;"
                   on-select="dropdownChoice($select.selected)" allow-clear> <ui-select-no-choice>
        </ui-select-no-choice> <ui-select-match
            placeholder="Choose Contact Method">{{choice[invite.person_id].label}}</ui-select-match>
        <ui-select-choices
            repeat="opt in invite.person_methods | filter: $select.search"> <span
                ng-bind-html="opt.label | highlight: $select.search"></span> </ui-select-choices>
    </ui-select></td>
</tr>
</table>
<div class="text-center">
    <dir-pagination-controls boundary-links="true"
                             on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="/html/template/dirPagination.tpl.html"></dir-pagination-controls>
</div>
