
<div style="text-align: center;">
    <span style="font-size: 200%">Event - Create</span><br> <a href="#/events/create">Create Event</a><br>&nbsp;
</div>
<form ng-submit="saveData()">
    <table class="table">
        <tr>
            <td>Name</td>
            <td><input type="text" size="40" ng-model="Data.name"></td>
        </tr>
        <tr>
            <td>Startdate</td>
            <td><input type="text" size="40" ng-model="Data.startdate"></td>
        </tr>
        <tr>
            <td>Message</td>
            <td><input type="text" size="40" ng-model="Data.msg_general"></td>
        </tr>
        <tr>
            <td>Next Page</td>
            <td>
                <span>
                    <ui-select ng-model="selData.next_page" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               allow-clear on-select="selOpt('next_page', $select.selected)"> <ui-select-no-choice>
                        </ui-select-no-choice> <ui-select-match
                            placeholder="{{selData.next_page.name}}">{{selData.next_page.name}}</ui-select-match>
                        <ui-select-choices repeat="choice in Options.next_page | filter: $select.search">
                            <span ng-bind-html="choice.name | highlight: $select.search"></span>
                        </ui-select-choices> </ui-select>
                </span>            
            </td>
        </tr>
    </table>
    <input type="submit" value="Save Data" class="btn btn-success">
</form>

