<div class="modal-header">
    <h3 class="modal-title">{{modal.title}}</h3>
</div>
<div class="modal-body">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" size="40" ng-model="data.name"></td>
        </tr>
        <tr>
            <td>Startdate</td>
            <td><input type="text" size="40" ng-model="data.startdate"></td>
        </tr>
        <tr>
            <td>Message</td>
            <td><input type="text" size="40" ng-model="data.msg_general"></td>
        </tr>
        <tr>
            <td>Number</td>
            <td><input type="text" size="40" ng-model="data.outbound_number"></td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
