<div>
    <div style="text-align: center;">
        <span style="font-size: 200%">Event</span><br> <a href="#/events/create">Create Event</a><br>&nbsp;
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Start</th>
                <th>Name</th>
                <th></th>
                <th class="actions"><!-- Invites --></th>
                <th></th>
                <th class="actions"><!-- Attendance --></th>
                <th class="actions"><!-- Attendance History --></th>
                <th class="actions"><!-- Delete --></th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="event in events | orderBy:startdate:true | itemsPerPage: pageSize">
                <td>{{event.startdate}}</td>
                <td>{{event.name}}</td>
                <td>{{event.invite.length}}</td>
                <td><a href="#/events/{{event.id}}/invite"
                       class="btn btn-xs btn-primary">Invites</a></td>
                <td>{{event.event_attendance.length}}</td>
                <td><a href="#/events/{{event.id}}/attendance"
                       class="btn btn-xs btn-primary">Attendance</a></td>
                <td><a href="#/events/{{event.id}}/attendance_history"
                       class="btn btn-xs btn-primary">Attendance History</a></td>
                <td><a ng-click="deleteItem(event)" class="btn btn-xs btn-danger">Delete
                        Event</a></td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <dir-pagination-controls boundary-links="true"
                                 on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/html/template/dirPagination.tpl.html"></dir-pagination-controls>
    </div>

</div>
