<div style="text-align: center;">
    <span style="font-size: 200%">Invite Entry - {{event.name}} - {{event.startdate}}</span> 
    <a ng-click="open()"><i class="fa fa-edit" aria-hidden="true"></i></a><br>
    <a href="#/events">Event List</a> | Invites |
    <a href="#/events/{{event_id}}/attendance">Attendance</a> | 
    <a href="#/events/{{event_id}}/attendance_history">Attendance History</a><br>&nbsp;
</div>
<p>Create New Invite</p>
<table style="width: 100%;">
    <tr>
        <td>
            <span>
                <ui-select ng-model="new_invite.event" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           on-select="getPeople()" allow-clear> <ui-select-no-choice> </ui-select-no-choice>
                    <ui-select-match placeholder="{{new_invite.event.label}}">{{new_invite.event.label}}</ui-select-match>
                    <ui-select-choices repeat="opt in events | filter: $select.search">
                        <span ng-bind-html="opt.label | highlight: $select.search"></span> </ui-select-choices>
                </ui-select>

            </span>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <span>
                <ui-select ng-model="new_invite.person" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           on-select="dropdownChoice($select.selected)" allow-clear> <ui-select-no-choice>
                    </ui-select-no-choice> <ui-select-match
                        placeholder="{{no_person.label}}">{{new_invite.person.label}}</ui-select-match>
                    <ui-select-choices repeat="opt in people | filter:filterPeople | filter: $select.search">
                        <span ng-bind-html="opt.label | highlight: $select.search"></span> </ui-select-choices>
                </ui-select>
            </span>
        </td>
        <td>
            <span>
                <ui-select ng-model="new_invite.response" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           on-select="dropdownChoice($select.selected)" allow-clear> <ui-select-no-choice>
                    </ui-select-no-choice> <ui-select-match
                        placeholder="{{no_status.label}}">{{new_invite.response.name}}</ui-select-match>
                    <ui-select-choices
                        repeat="opt in responses | filter: $select.search"> <span
                            ng-bind-html="opt.name | highlight: $select.search"></span> </ui-select-choices>
                </ui-select>
            </span>
        </td>
        <td><a ng-click="addInvite(); $event.preventDefault()" ng-enter="addInvite()" class="btn btn-primary" href="#">Add To Invite List</a>
        </td>
    </tr>
</table>
<p>
    <a ng-click="setFilter('response_id', undefined)">All ({{count.all}})</a>,
    <a ng-click="setFilter('response_id', 1)">Unknown ({{count.unknown}})</a>,
    <a ng-click="setFilter('response_id', 5)">Invited ({{count.invited}})</a>,
    <a ng-click="setFilter('response_id', 2)">No ({{count.no}})</a>, 
    <a ng-click="setFilter('response_id', 3)">Maybe ({{count.maybe}})</a>, 
    <a ng-click="setFilter('response_id', 4)">Yes ({{count.yes}})</a>
</p>
<p>
    <a ng-click="setMethod(0)">No Method</a>, 
    <a ng-click="setMethod(1)">SMS</a>,
    <a ng-click="setMethod(3)">EMail</a>, 
    <a ng-click="setMethod(10)">Preferred Contact</a>
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Response</th>
        <th><a ng-click="sendComm(); $event.preventDefault()" href="#">Create Message</a></th>
        <th></th>
    </tr>
    <tr dir-paginate="invite in invites | filter:runFilter | orderBy:person_sname | orderBy:person_fname | itemsPerPage: pageSize">
        <td><a href="#/people/view/{{invite.id}}">{{invite.sname}}, {{invite.fname}}</a></td>
        <td>
            <span>
                <ui-select ng-model="invite.person[invite.id]"
                           theme="selectize" ng-disabled="disabled" style="width: 400px;"
                           on-select="updResponse(invite.invite_id, $select.selected.id)" allow-clear>
                    <ui-select-no-choice> </ui-select-no-choice> <ui-select-match
                        placeholder="{{invite.response_name}}">{{invite.response_name}}</ui-select-match>
                    <ui-select-choices
                        repeat="opt in responses | filter: $select.search"> <span
                            ng-bind-html="opt.name | highlight: $select.search"></span> </ui-select-choices>
                </ui-select>
            </span>
        </td>
        <td>
            <span>
                <ui-select ng-model="choice[invite.id]" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           on-select="dropdownChoice($select.selected)" allow-clear> <ui-select-no-choice>
                    </ui-select-no-choice> <ui-select-match
                        placeholder="Choose Contact Method">{{choice[invite.id].label}}</ui-select-match>
                    <ui-select-choices
                        repeat="opt in invite.PersonMethod | filter: $select.search"> <span
                            ng-bind-html="opt.label | highlight: $select.search"></span> </ui-select-choices>
                </ui-select>
            </span>
        </td>
        <td><a ng-click="removeItem(invite)" class="btn btn-danger">Remove</a></td>
    </tr>
</table>
<div class="text-center">
    <dir-pagination-controls boundary-links="true"
                             on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="/html/template/dirPagination.tpl.html"></dir-pagination-controls>
</div>
