<div>
    <div class="center">
        <span class="infoChi-big">Numbers</span> <a href="" ng-click="refresh()" aria-hidden="true"><i class="fas fa-sync"></i></a><br>
        <a href="/numbers/add">Add</a>
    </div>
    <table class="table table-striped table-hover">
        <tr>
            <th>Number</th>
            <th><span ng-if="valClient.has_sms == 1">SMS</span></th>
            <th><span ng-if="valClient.has_voice == 1">Voice</span></th>
        </tr>
        <tr ng-repeat="number in valNumbers">
            <td>{{number.forNumber}}</td>
            <td>
                <span ng-if="valClient.has_sms == 1">
                    <ui-select ng-model="pTreeSms[number.id]" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="updPTreeSms(number.id)">
                        <ui-select-match placeholder="{{pTreeSms[number.id].label}}">{{pTreeSms[number.id].label}}</ui-select-match>
                        <ui-select-choices repeat="opt in pTreesSms">
                            <span ng-bind-html="opt.label"></span>
                        </ui-select-choices> </ui-select>
                    <a href="#/p_trees/{{number.p_tree_sms}}" class="btn btn-xs btn-primary">View / Edit</a>
                </span>
            </td>
            <td>
                <span ng-if="valClient.has_voice == 1">
                    <ui-select ng-model="pTreeVoice[number.id]" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="updPTreeVoice(number.id)">
                        <ui-select-match placeholder="{{pTreeVoice[number.id].label}}">{{pTreeVoice[number.id].label}}</ui-select-match>
                        <ui-select-choices repeat="opt in pTreesVoice">
                            <span ng-bind-html="opt.label"></span>
                        </ui-select-choices> </ui-select>
                        <a href="#/p_trees/{{number.p_tree_voice}}" class="btn btn-xs btn-primary">View / Edit</a>
                </span>
            </td>
        </tr>
    </table>
    <span>*If Process Tree is not listed, it is likely that the process tree has been closed.</span>
</div>