<div class="center">
    <span class="infoChi-big">Edit Client Data</span><br><a
        href="#/clients">Back to List</a><br>
</div>
<table class="table table-striped table-hover">
    <tr>
        <td>Name</td>
        <td><input type="text" ng-model="data.name"></td>
    </tr>
    <tr>
        <td>Has Voice</td>
        <td>
            <span>
                <ui-select ng-model="valClient.hasVoice" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           on-select="setValue($select.selected, 'has_voice')">
                    <ui-select-match placeholder="{{valClient.hasVoice.label}}">{{valClient.hasVoice.label}}</ui-select-match>
                    <ui-select-choices repeat="opt in valYesNo">
                        <span ng-bind-html="opt.label"></span>
                    </ui-select-choices> </ui-select>
            </span>
        </td>
    </tr>
    <tr>
        <td>Has SMS</td>
        <td>
            <span>
                <ui-select ng-model="valClient.hasSms" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           on-select="setValue($select.selected, 'has_sms')">
                    <ui-select-match placeholder="{{valClient.hasSms.label}}">{{valClient.hasSms.label}}</ui-select-match>
                    <ui-select-choices repeat="opt in valYesNo">
                        <span ng-bind-html="opt.label"></span>
                    </ui-select-choices> </ui-select>
            </span>
        </td>
    </tr>
</table>
<div ng-if="Current.Client.Role == 'admin'">
    <br>
    <a href="/clients/close" class="btn btn-xs btn-danger">Close Client (Cannot be undone)</a>
    <br>&nbsp;
</div>
<div><a href="" ng-click="updAll()" class="btn btn-primary">Update</a></div>
<br>
<div class="well">
    <div class="infoChi-big center">Client Features</div>
    <div ng-if="newFeatures.length">
        <ui-select ng-model="newFeature" theme="selectize"
                   ng-disabled="disabled" style="width: 400px;"
                   on-select="addFeature($select.selected)" allow-clear> <ui-select-no-choice>
            </ui-select-no-choice> <ui-select-match
                placeholder="Add Feature to Company">Add Feature to Company</ui-select-match>
            <ui-select-choices
                repeat="feature in newFeatures | filter: filterFeatureList | orderBy:'name':false | filter: $select.search">
                <span ng-bind-html="feature.name | highlight: $select.search"></span>
            </ui-select-choices> </ui-select>
    </div>
    <div>
        <a ng-click="defaultFeatures()">Give Default Features</a>
    </div>
    <table class="table table-hover table-striped">
        <tr>
            <th>Feature Name</th>
            <th></th>
        </tr>
        <tr dir-paginate="feature in features | orderBy:'name':false | itemsPerPage: pageSize"
            pagination-id="feature">
            <td>{{feature.name}}</td>
            <td><a ng-click="removeFeature(feature.id); $event.preventDefault()"
                   ng-enter="removeFeature(feature.id)" href="#"
                   class="btn btn-xs btn-warning">Remove</a></td>
            <!-- <td>{{metaDat}}</td> -->
        </tr>
    </table>
    <div class="text-center">
        <dir-pagination-controls boundary-links="true"
                                 on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/html/template/dirPagination.tpl.html"
                                 pagination-id="feature"></dir-pagination-controls>
    </div>
</div>
