<div class="center">
    <span class="infoChi-big">Clients</span><br>
        <span ng-if="user_admin"><a href="#/clients/create">Create Client</a>
</div>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>
    <tr dir-paginate="client in clients | filter:q | orderBy:predicate:reverse | itemsPerPage: pageSize">
        <td>{{client.name}}</td>
        <td><a class="btn btn-primary btn-xs"
               ng-click="goSwitch(client.id)">Switch To</a></td>
        <td><a class="btn btn-primary btn-xs"
               ng-click="goManage(client.id)">Switch To &amp; Manage</a></td>
    </tr>
</table>
   <div class="text-center">
        <dir-pagination-controls
            boundary-links="true"
            on-page-change="pageChangeHandler(newPageNumber)"
            template-url="/html/template/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
