<div class="center">
    <span class="infoChi-big">Domains</span><br>
    <!--    <a href="#/domains/0">Create Address</a>-->
</div>
<table class="table table-striped">
    <tr>
        <th>Domain</th>
        <th>Name</th>
        <th>Client</th>
        <th></th>
        <!--<th></th>-->
    </tr>
    <tr ng-repeat="dat in data">
        <td>{{dat.domain}}</td>
        <td>{{dat.name}}</td>
        <td>{{dat.client.name}}</td>
        <td><a href="#/domains/{{dat.id}}" class="btn btn-xs btn-primary">View / Edit</a></td>
        <!--<td></td>-->
    </tr>
</table>