@CHARSET "ISO-8859-1";

th {
    text-align: center;
}

/* Arrows */
.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}

.table thead tr th,
.table tbody tr th,
.table tfoot tr th, 
.table thead tr td, 
.table tbody tr td,
.table tfoot tr td {
    border-top: 0px;
}

@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}

body {
    color: #000000;	
}

infoChi-title {
    font-size: 200%
}

infoChi-big {
    font-size: 150%
}

.infoChi-badge-w {
    min-width: 200px;
    max-width: 200px;
}

.infoChi-badge-h
{
    /*display: inline-block;*/

    text-align: center;
    min-height: 150px;
    max-height: 150px;
}

.center {
    text-align: center;
}

.infoChi-input {
    padding: 0;
    /*width: auto;*/
}

.infoChi-table {
    border-bottom: 0;
}

.infoChi-big {
    font-size: 200%;
}

.infoChi-hr {
    border-top: 1px solid #000044;
}

.infoChi-hr-partial {
    width: 75%
}

.infoChi-black {
    color: #000000;
}

.infoChi-sbadge-w {
    min-width: 100px;
    max-width: 200px;
}

.infoChi-sbadge-h
{
    /*display: inline-block;*/

    text-align: center;
    vertical-align: middle;
    min-height: 75px;
    max-height: 75px;
}

form {
    width: 100%;
}

.inUse {
    font-style: italic; 
}

.infoChi-strong{
    font-weight: bold;
}

.spinner {
    /*background: #FFFFFF;*/
    width: 25%;
    text-align: center;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    /*background-color: #FFFFFF;*/
}

/* Transparent Overlay */
.spinner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(220,220,222,0.9);
}

input[type=checkbox],
input[type=radio] {
    width: auto;
}