h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

td {
    vertical-align: top;
}

label.error {
    background-color: #CCCCCC;
    color: #FF0000;
    font-weight: bold;
}

.pager {
    text-align: right;
}

.ticket_entry_system {
    background-color: #888888;
}

.ui-draggable, .ui-droppable {
    background-position: top left;
}

#ch_list .ui-icon {
    background-image: url('');
}

th {
    text-align: center;
}

table#tabTickets, table#tabTickets thead tr th, table#tabTickets tbody tr td {
    font-size: 14px;
}

table.tablesorter tbody tr.ticket-overdue td, table.tablesorter tbody tr.ticket-overdue td a {
    color: #FF0000;
}

.ticket-icon {
    width: 18px;
    background-repeat:no-repeat;
    background-position:center; 
}

tr.ticket-type-Release .ticket-icon {
    background-image: url(/img/icons/release.png);
}

tr.ticket-type-Bug .ticket-icon {
    background-image: url(/img/icons/bug.png);
}

tr.ticket-type-Feature .ticket-icon {
    background-image: url(/img/icons/feature.png);
}

tr.ticket-type-Chore .ticket-icon {
    background-image: url(/img/icons/chore.png);
}

tr.ticket-type-Billing .ticket-icon {
    background-image: url(/img/icons/billing.png);
}

tr.ticket-type-Question .ticket-icon {
    background-image: url(/img/icons/question.png);
}

tr.ticket-type-Idea .ticket-icon {
    background-image: url(/img/icons/idea.png);
}

tr.ticket-type-Prospect .ticket-icon {
    background-image: url(/img/icons/prospect.png);
}

tr.ticket-type-Note .ticket-icon {
    background-image: url(/img/icons/list.gif);
}

.text-right {
    text-align: right;
}

.text-red {
    color: #DD0000;
}

.text-green {
    color: #00DD00;
}

/** General Style Info **/
a {
    font-weight: bold;
}

input, textarea {
    width: 100%;
}

textarea {
    height: 160px;
}

.em {
    font-style: italic;
}
