<h3>Choose recipients(s) for Message</h3>
<div>
    <span>
        <ui-select ng-model="choice.selected" theme="selectize"
                   ng-disabled="disabled" style="width: 400px;"
                   on-select="dropdownChoice.recip($select.selected)" reset-search-input="true"> <ui-select-match
                placeholder="Choose Person By Name">Choose Person By Name</ui-select-match>
            <ui-select-choices repeat="friend in recip_contacts | filter:customFilter.recip | filter: $select.search">
                <span ng-bind-html="friend.label | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </span>
    <table class="table table-striped table-hover" ng-if="pBranch.Settings.recipients.length">
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        <tr ng-repeat="recip in pBranch.Settings.recipients">
            <td>{{recip.label}}</td>
            <td><a href="" ng-click="remove.recip(key)" class="btn btn-xs btn-danger">Remove</a></td>
        </tr>
    </table>

</div>