<h3>Greeting</h3>
<table>
    <tr>
        <td>1 - URL of Greeting (If empty use #2)</td>
        <td><input ng-model="pBranch.Settings.url" type="text"></td>
    </tr>
    <tr>
        <td>2 - Library ID (0 or blank), use #3 - Dropdown</td>
        <td><input ng-model="pBranch.Settings.library_id" type="text"></td>
    </tr>
    <tr>
        <td><u>3a</u> - Robo Text</td>
        <td><input ng-model="pBranch.Settings.robo_text" type="text"></td>
    </tr>
    <tr>
        <td>Robo Voice</td>
        <td>
            <span>
                <ui-select ng-model="pBranch.Settings.Greeting" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           on-select="setGreetingVoice($select.selected)" reset-search-input="true"> <ui-select-match
                        placeholder="{{pBranch.Settings.Greeting.label}}">{{pBranch.Settings.Greeting.label}}</ui-select-match>
                    <ui-select-choices repeat="voice in greetingOpts.voice | filter: $select.search">
                        <span ng-bind-html="voice.label | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </span>
        </td>
    </tr>
</table>

