<table class="table">
    <tr>
        <td>Yes</td>
        <td><span ng-if="pBranch.id"><a href="#/p_branches/{{pBranch.branch_yes.id}}">Check - {{pBranch.branch_yes.name}}</a></span></td>
    </tr>
    <tr>
        <td>Type</td>
        <td>
            <span>
                    <ui-select ng-model="pBranch.next_branch.type" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="setType($select.selected, 'branch_yes')" reset-search-input="true"> <ui-select-match
                            placeholder="{{pBranch.branch_yes.type.name}}">{{pBranch.branch_yes.type.name}}</ui-select-match>
                        <ui-select-choices repeat="PTYPE in pTypes | filter:filterUsed | filter: $select.search">
                            <span ng-bind-html="PTYPE.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </span>
    <tr>
        <td>No</td>
        <td><span ng-if="pBranch.id"><a href="#/p_branches/{{pBranch.branch_no.id}}">Check - {{pBranch.branch_no.name}}</a></span></td>
    </tr>
    <tr>
        <td>Type</td>
        <td>
            <span>
                    <ui-select ng-model="pBranch.next_branch.type" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="setType($select.selected, 'branch_no')" reset-search-input="true"> <ui-select-match
                            placeholder="{{pBranch.branch_no.type.name}}">{{pBranch.branch_no.type.name}}</ui-select-match>
                        <ui-select-choices repeat="PTYPE in pTypes | filter:filterUsed | filter: $select.search">
                            <span ng-bind-html="PTYPE.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </span>
        </td>
    </tr>
</table>