<div>
    This module will check the incoming # and determine if it is from a current (non-deleted) person. Then it will follow the answers of Yes and No. Yes if the # is a current person within the current ReachoutWizard client
</div>
<div ng-include="file.nm_yn"></div>
