<!--SMS Reply-->
<!--What does it mean to reply to a message.-->

<!--1. We must create this as a contact in the current company, if they are not a contact already-->
<!--2. A queue message to that contact is created-->

<h2>SMS Reply</h2>
<p>The Caller-ID for this SMS message will be the number that invoked the current branch.</p>
<table>
    <tr>
        <td>Body of Message</td>
        <td>
            <textarea ng-model="pBranch.Settings.body"></textarea>
        </td>
    </tr>
</table>