<div class="center">
    <span class="infoChi-big">Process Branch - {{pBranch.name}} ({{pBranch.type.name}})</span><br>
    <a href="#/p_trees">Process Tree List</a> | 
    Tree Base: <a href="#/p_trees/{{pBranch.tree.id}}">{{pBranch.tree.name}}</a> | 
    <span ng-if="pBranch.parent_id">
        Parent Branch: <a href="#/p_branches/{{pBranch.parent_id}}">{{pBranch.parent_branch.name}}</a>
    </span>
    <span ng-if="pBranch.next_id">
        Next Branch: <a href="#/p_branches/{{pBranch.next_id}}">{{pBranch.next_branch.name}}</a>
    </span>
</div>
<p>&nbsp;</p>
<div class="well">
    <form ng-submit="saveData()">
        <table class="table">
            <tr>
                <td>Branch Name</td>
                <td><input type="text" ng-model="pBranch.name"></td>
            </tr>
        </table>
        <hr style="width: 75%; border-top-color: #000;">
        <div ng-include="pBranch.type.filename"></div>
        <div>
            <input type="submit" value="Save Data" class="btn btn-success">
        </div>
    </form>
</div>
<div ng-if="show.next_module">
    <h3>Next Module</h3>
    <table class="table">
        <tr ng-if="pBranch.next_branch.id">
            <td>Next Branch</td>
            <td><span ng-if="pBranch.id"><a href="#/p_branches/{{pBranch.next_branch.id}}">{{pBranch.next_branch.name}}</a></span></td>
        </tr>
        <tr>
            <td>Type</td>
            <td>
                <span>
                    <ui-select ng-model="pBranch.next_branch.type" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="setType($select.selected, 'next_branch')" reset-search-input="true"> <ui-select-match
                            placeholder="{{pBranch.next_branch.type.name}}">{{pBranch.next_branch.type.name}}</ui-select-match>
                        <ui-select-choices repeat="PTYPE in pTypes | filter:filterUsed | filter: $select.search">
                            <span ng-bind-html="PTYPE.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </span>
            </td>
        </tr>
    </table>
</div>