<div class="center">
    <span class="infoChi-big">My Messages
        
    </span>
     <a href="" ng-click="refresh()"><i class="fas fa-sync" aria-hidden="true"></i></a>
    <br>
    <span ng-repeat="status in statuses">
        <a ng-class="{inUse: chkStatus(status.id)}" ng-click="setStatus(status.id)" ng-enter="removeFeature(feature.id)" href="#/messages">{{status.label}}</a> |
    </span>
    <a ng-class="{inUse: chkStatus(4)}" ng-click="setStatus(4)" ng-enter="removeFeature(feature.id)" href="#/messages">All Statuses</a>
    <br>
    <span ng-repeat="opt in orderChoices">
        <span ng-if="!$first" ng-repeat-end> | </span>
        <a ng-class="{inUse: chkSort(opt.id)}" ng-click="setSort(opt.key, opt.order, opt.id)" ng-enter="removeFeature(feature.id)" href="#/messages">{{opt.label}}</a>
    </span>
    <br>
    <span ng-if="myClients.length > 1">
        <span ng-repeat="myClient in myClients">
            <a ng-class="{inUse: chkClient(myClient.id)}" ng-click="setClient(myClient.id)" ng-enter="removeFeature(feature.id)" href="#/messages">{{myClient.name}}</a> |
        </span>
        <a ng-class="{inUse: chkClient(0)}" ng-click="setClient(0)" ng-enter="removeFeature(feature.id)" href="#/messages">All Clients</a><href="#br>&nbsp;
    </span>
</div>
<div class="messages">
    <div ng-if="messages.length == 0" class="infoChi-big center">
        <em>No messages in selection.</em>
    </div>
    <div dir-paginate="message in messages | orderBy:sortKey:sortOrder| itemsPerPage: pageSize"
         pagination-id="messages" class="well">
        <table style="width: 100%;">
            <tr>
                <td colspan="3">
                    <div>
                        <span class="label label-default"># {{message.message.id}}</span>
                        <span class="label label-{{message.m_statusLabel}}">
                            {{message.m_statusName}}</span>
                        <span class="label label-{{message.message.m_typeLabel}}">
                            {{message.message.m_typeName}}</span>
                    </div> {{message.message.brief}}
                </td>
                <td rowspan="4" style="width: 10%; vertical-align: middle;">
                    <a ng-if="message.showClose"
                       href="" ng-click="msgClose(message.id)"
                       class="infoChi-sbadge-w infoChi-sbadge-h btn btn-xs btn-danger">Close</a>
                </td>
                <td rowspan="4" style="width: 10%; vertical-align: middle;">
                    <a href="#/messages/{{message.message.id}}"
                       class="infoChi-sbadge-w infoChi-sbadge-h btn btn-xs btn-primary">View</a>
                </td>

            </tr>
            <tr ng-if="myClients.length == 1">
                <td colspan="2">From: {{message.message.forFrom}}</td>
            </tr>
            <tr ng-if="myClients.length > 1">
                <td>From: {{message.message.forFrom}}</td>
                <td>Client: {{message.message.client.name}}</td>
            </tr>
            <tr ng-if="message.message.read_date">
                <td colspan="2">Read Date: {{message.ReadDate}}</td>
            </tr>
            <tr>
                <td>Created: {{message.message.Created}}</td>
                <td>Updated: {{message.Updated}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="text-center">
    <dir-pagination-controls boundary-links="true"
                             on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="/html/template/dirPagination.tpl.html"
                             pagination-id="messages">
    </dir-pagination-controls>
</div>
