<table class="table">
    <tr>
        <td>From</td>
        <td>{{ message.message.From }}
            <div ng-if="message.message.person_id != 0">
                <a href="#/people/view/{{message.message.person.id}}">
                    {{ message.message.person.forName }}</a> |
                <a href="#/logs/person/{{message.message.person.id}}">
                    Conversation Log</a>

            </div>
            <div ng-if="message.message.person_id == 0">
                <a class="btn btn-success" ng-click="contactCreate()" ng-if="valContactCreate">Create Contact</a>
                <span>
                    <ui-select allow-clear ng-disabled="disabled"
                               ng-model="new_invite.person" on-select="merge($select.selected)"
                               style="width: 400px;" theme="selectize">
                        <ui-select-no-choice></ui-select-no-choice> <ui-select-match
                            placeholder="{{no_person.label}}">{{ new_invite.person.label }}</ui-select-match>
                        <ui-select-choices repeat="opt in people | filter: $select.search">
                                <span ng-bind-html="opt.label | highlight: $select.search"></span> </ui-select-choices>
                    </ui-select>
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td>Created</td>
        <td>{{ message.message.Created }}</td>
    </tr>
    <tr>
        <td>Message Status</td>
        <td>{{ message.m_statusName }}
            <a class="btn btn-xs btn-danger" ng-click="msgMarkSpam()"
               ng-enter="msgMarkSpam()" ng-if="message.m_status_id != 4">Mark As Spam</a>
            <a class="btn btn-xs btn-danger" ng-click="msgClose()"
               ng-enter="msgClose()" ng-if="message.m_status_id != 4">Close Message</a>
            <a class="btn btn-xs btn-success" ng-click="msgStatus(2)"
               ng-enter="msgStatus(2)" ng-if="message.m_status_id == 4">Re-open Message</a></td>
    </tr>
    <tr>
        <td>Message Client</td>
        <td>{{ message.message.client.name }}</td>
    </tr>
    <tr>
        <td>Message Type</td>
        <td>{{ message.message.m_type.name }}</td>
    </tr>

    <tr ng-if="message.message.subject">
        <td>Subject</td>
        <td>{{ message.Message.subject }}</td>
    </tr>
    <tr>
        <td>Brief of Message</td>
        <td>{{ message.message.brief }}</td>
    </tr>
    <tr ng-if="message.message.url">
        <td>URL</td>
        <td>{{ message.message.url }}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ng-click="replyMessage()"
       ng-if="message.message.person_id > 0">Reply to Message</a><br>&nbsp;
</div>
<!-- Message Body -->
<div class="well">
    <div class="infoChi-big center">Message Body</div>
    <div ng-bind-html="message.message.body" ng-if="message.message.body"></div>
</div>
<!-- Message Body -->
<!-- Attachments -->
<div class="well" ng-if="hasAttachments">
    <div class="infoChi-big center">Attachments</div>
    <table class="table table-striped">
        <tr>
            <th>Link</th>
            <th></th>
         </tr>
        <tr ng-repeat="attachment in message.attachments">
            <td><a href="{{ attachment.path }}">{{ attachment.name }}</a></td>
            <td><img src="{{ attachment.path }}" height="50" ng-if="attachment.is_image"></td>
         </tr>
    </table>
</div>
<!-- Attachments -->
<!-- Users With Copy -->
<div class="well">
    <div class="infoChi-big center">Message Sharing</div>
    <div ng-if="checkFilterShare()">
        <ui-select ng-disabled="disabled"
                   ng-model="share.User" on-select="shareAndNotify($select.selected)" style="width: 400px;"
                   theme="selectize"
        >
            <ui-select-no-choice></ui-select-no-choice>
            <ui-select-match
                    placeholder="{{share.User.label}}">{{ share.User.label }}
            </ui-select-match>
            <ui-select-choices
                    repeat="opt in usersShare | filter: runFilterShare | filter: $select.search"> <span
                    ng-bind-html="opt.label | highlight: $select.search"></span></ui-select-choices>
        </ui-select>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <!--<th>Client Name</th>-->

        </tr>
        <tr ng-repeat="user in usersWithCopy">
            <td>{{ user.user.email_name }}</td>
            <td>{{ user.user.email_address }}</td>
            <!--<td></td>-->
            <!--                <td>{{user.UserMessage}}</td>
                            <td>{{user.User}}</td>
                            <td>{{user}}</td>-->
        </tr>
    </table>
</div>
<!-- Users With Copy -->
<!-- Event Invites -->
<div class="well" ng-if="message.Message.person_id > 0 && invites.length">
    <div class="infoChi-big center">Event Invites</div>
    <table class="table-hover table-striped">
        <tr>
            <th>Event Name</th>
            <th>Event Date</th>
            <th>Response</th>
        </tr>
        <tr ng-repeat="invite in invites">

            <!--            <tr dir-paginate="invite in invites | itemsPerPage: pageSize"
                            pagination-id="invites">-->
            <td><a href="/events/angular_view/#?event_id={{invite.Event.id}}">{{ invite.Event.name }}</a></td>
            <td>{{ invite.Event.startdate }}</td>
            <td>
                <ui-select allow-clear
                           ng-disabled="disabled" ng-model="invite_response[invite.person_id]"
                           on-select="updResponse(invite.Invite.id, $select.selected.id)"
                           style="width: 400px;"
                           theme="selectize">
                    <ui-select-no-choice></ui-select-no-choice>
                    <ui-select-match
                            placeholder="{{invite.Response.name}}">{{ invite.Response.name }}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="opt in responses | filter: $select.search"> <span
                            ng-bind-html="opt.label | highlight: $select.search"></span></ui-select-choices>
                </ui-select>
            </td>
        </tr>
    </table>
    <!--        <div class="text-center">
                <dir-pagination-controls boundary-links="true"
                                         on-page-change="pageChangeHandler(newPageNumber)"
                                         template-url="/template/dirPagination.tpl.html"
                                         pagination-id="invites"></dir-pagination-controls>
            </div>-->
</div>