<div>
    <div class="center">
        <span class="infoChi-big">Additional Person Information (Meta Column) Type - Create</span><br> <a
            href="#/m_c_types">Meta Column List</a><br>&nbsp;
    </div>
    <form ng-submit="updateData()">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" ng-model="Data.name"></td>
            </tr>
            <tr>
                <td>Display</td>
                <td>
                    <span>
                        <ui-select ng-model="Selected.display" theme="selectize"
                                   ng-disabled="disabled" style="width: 400px;"
                                   allow-clear on-select="updateChoice('display')"> <ui-select-no-choice>
                            </ui-select-no-choice> <ui-select-match
                                placeholder="{{Selected.display.label}}">{{Selected.display.label}}</ui-select-match>
                            <ui-select-choices repeat="choice in Choices.display | filter: $select.search">
                                <span ng-bind-html="choice.label | highlight: $select.search"></span>
                            </ui-select-choices> </ui-select>
                    </span>
                </td>
            </tr>
        </table>
        <input type="submit" class="btn btn-primary" value="Create">
    </form>
</div>
