<div>
    <div class="center">
        <span class="infoChi-big">Additional Person Information (Meta Column) Types</span><a
            href="#/m_c_types/create"><br>Create Type</a><br>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Display</th>
                <th>Client<br>If Applicable</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dat in data">
                <td>{{dat.name}}</td>
                <td>{{dat.display}}</td>
                <td><span></span></td>
                <td><a href="#/m_c_types/{{dat.id}}" class="btn btn-xs btn-success">View</a></td>
            </tr>
        </tbody>
    </table>
</div>