
<div class="center">
    <span class="infoChi-big">Additional Person Information List Type - View/Edit</span><br>
    <span ng-if="true">
        <a href="#/meta_columns">List</a>
    </spanng-if><br>&nbsp;
</div>
<form class="well" ng-submit="updateData()">
    <table class="table">
        <tr>
            <td>Name</td>
            <td><input type="text" ng-model="Data.name"></td>
        </tr>
        <tr>
            <td>Display</td>
            <td>
                <span>
                    <ui-select ng-model="Selected.display" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               allow-clear on-select="updateChoice('display')"> <ui-select-no-choice>
                        </ui-select-no-choice> <ui-select-match
                            placeholder="{{Selected.display.label}}">{{Selected.display.label}}</ui-select-match>
                        <ui-select-choices repeat="choice in Choices.display | filter: $select.search">
                            <span ng-bind-html="choice.label | highlight: $select.search"></span>
                        </ui-select-choices> </ui-select>
                </span>
            </td>
        </tr>
    </table>
    <input type="submit" class="btn btn-success" value="Update">
</form>
<div class="well" ng-show="showEnum()">
    <input type="text" ng-model="enumNewOpt">
    <a href="" ng-click="addEnumOpt()" class="btn btn-primary">Add Item</a>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th><!-- Action --></th>
            <th><!-- Action --></th>
        </tr>
        <tr ng-repeat="enumOption in enumOpts | orderBy:'name'">
            <td><input type="text" ng-model="enumOption.name"></td>
            <td><a ng-click="updateOpt(enumOption)" ng-if="enumOption.name != enumOption.name_orig" class="btn btn-success">Update</a></td>
            <td><a ng-click="removeOpt(enumOption)" class="btn btn-danger">Remove</a></td>
        </tr>
    </table>
</div>
