<div>
    <div class="center">
        <span class="infoChi-big">Preset Messages</span><a
            href="#/outgoing_messages/0"><br>Create Preset Message</a><br>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
                <th></th>
                <!--<th></th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="message in messages">
                <td>{{message.title}}</td>
                <td>{{message.body}}</td>
                <td><a href="#/outgoing_messages/{{message.id}}" class="btn btn-xs btn-success">View</a></td>
                <!--<td><a href="#/outgoing_messages/delete/{{message.id}}" class="btn btn-xs btn-danger">Delete</a></td>-->
            </tr>
        </tbody>
    </table>
</div>