<form ng-submit="saveData()">
    <div class="center">
        <span class="infoChi-big">Preset Messages - {{getAction()}}</span><br> <a
            href="#/outgoing_messages">Preset Message List</a><br>&nbsp;
    </div>
    <table class="table table-striped">
        <tr>
            <td>Title</td>
            <td><input type="text" ng-model="Data.title"></td>
        </tr>
        <tr>
            <td>Body</td>
            <td><textarea ng-model="Data.body"></textarea></td>
        </tr>
        <tr>
            <td>Short URL</td>
            <td>
                <span>
                    <ui-select ng-model="Data.Short" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="chooseShort($select.selected)">
                        <ui-select-match placeholder="{{Data.Short.name}}">{{Data.Short.name}}</ui-select-match>
                        <ui-select-choices repeat="short in Shorts">
                            <span ng-bind-html="short.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Save Data" class="btn btn-success">
    <a ng-click="saveDelete()" class="btn btn-danger">Delete Item</a>
</form>
