<div class="center">
    <span class="infoChi-big">Contact Groups - Create</span><br>
        <a href="#/person_groups">Contact Group List</a><br>&nbsp;
</div> 
<form ng-submit="submit()">
    <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-3"><input type="text" ng-model="data.name"></div>
    </div>
    <div class="row">
        <div class="col-xs-12"><br><input type="submit" class="btn btn-primary"></div>
    </div>
</form>
