<div class="center">
    <span class="infoChi-big">Contact Groups</span><br> <a
        href="#/person_groups/create">Create Group</a><br>&nbsp;
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Group Name</th>
            <th>Size</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="group in groups | itemsPerPage: pageSize">
            <td>{{group.name}}</td>
            <td>{{group.person_group_data.length}}</td>
            <td><a href="#/person_groups/view/{{group.id}}" class="btn btn-xs btn-success">View</a></td>
            <td><a ng-click="deleteItem(group)" class="btn btn-xs btn-danger">Delete
                    Group</a></td>
        </tr>
    </tbody>
</table>
<div class="text-center">
    <dir-pagination-controls boundary-links="true"
                             on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="/html/template/dirPagination.tpl.html"></dir-pagination-controls>
</div>