<div>
    <div class="center">
        <span class="infoChi-big">Contact Group - {{summary.name}}</span><br>
        <a href="#/person_groups">Contact Group List</a><br>&nbsp;
    </div>
    <!--    <div>
            <a href="#/people/signup/#?person_group_id={{summary.id}}"
               class="btn btn-primary">Create Person & Add to Group</a><br>&nbsp;
        </div>-->
    <a ng-click="filterTest()">Filter Test</a>
    <div ng-if="filterTest()">
        <ui-select ng-model="add_to_group" theme="selectize"
                   ng-disabled="disabled" style="width: 400px;"
                   on-select="addToGroup($select.selected)" allow-clear> <ui-select-no-choice>
            </ui-select-no-choice> <ui-select-match placeholder="Add to Group">Add
                to Group</ui-select-match> <ui-select-choices
                repeat="person in people | filter: filterPeople | filter: $select.search"> <span
                    ng-bind-html="person.label | highlight: $select.search"></span> </ui-select-choices>
        </ui-select>

    </div>
    <p>
        <a ng-click="setMethod(0)">No Method</a>, 
        <a ng-click="setMethod(1)">SMS</a>,
        <a ng-click="setMethod(3)">EMail</a>, 
        <a ng-click="setMethod(10)">Preferred Contact</a>
    </p>
    <table class="table table-striped table-hover">
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th><!-- Action --></th>
            <th><!-- Action --></th>
            <th><a ng-click="sendComm(); $event.preventDefault()" href="#">Create Message</a></th>
        </tr>
        <tr
            dir-paginate="det in detail | filter:q | orderBy:predicate:reverse | itemsPerPage: pageSize">
            <td>{{det.sname}}</td>
            <td>{{det.fname}}</td>
            <td><a href="#/people/view/{{det.id}}"
                   class="btn btn-xs btn-primary">View Individual</a></td>
            <td><a ng-click="removeFromGroup(det.pgd_id)"
                   ng-action="removeFromGroup(det.pgd_id)" class="btn btn-xs btn-warning">Remove
                    from Group</a></td>
            <td><ui-select ng-model="choice[det.id]" theme="selectize"
                       ng-disabled="disabled" style="width: 400px;"
                       allow-clear> <ui-select-no-choice>
            </ui-select-no-choice> <ui-select-match
                placeholder="Choose Contact Method">{{choice[det.id].label}}</ui-select-match>
            <ui-select-choices
                repeat="opt in det.person_method | filter: $select.search"> <span
                    ng-bind-html="opt.label | highlight: $select.search"></span> </ui-select-choices>
        </ui-select></td>
        </tr>
    </table>
    <div class="text-center">
        <dir-pagination-controls boundary-links="true"
                                 on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/html/template/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>
