<div>
    <div class="center">
        <span class="infoChi-big">Properties</span><a
            href="#/properties/create"><br>Create Property</a><br>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Description</th>
                <th></th>
                <!--<th></th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dat in data">
                <td>{{dat.name}}</td>
                <td>{{dat.address}}</td>
                <td>{{dat.description}}</td>
                <td><a href="#/properties/{{dat.id}}" class="btn btn-xs btn-success">View</a></td>
                <!--<td><a href="#/outgoing_messages/delete/{{message.id}}" class="btn btn-xs btn-danger">Delete</a></td>-->
            </tr>
        </tbody>
    </table>
</div>