<div class="center">
    <span class="infoChi-big">Outbound Messages - Create &amp; Send</span><br>
    <a href="#/queue_messages">View Pending Message(s)</a> <a
        uib-tooltip="{{tooltips[6]}}"><i class="fa fa-info-circle fa-lg"></i></a><br>&nbsp;
</div>
<table class="table">
    <tr>
        <td>From<!-- <a
                    uib-tooltip="{{tooltips[3]}}"><i class="fa fa-info-circle fa-lg"></i></a> --></td>
        <td>
            <input type="hidden" ng-model="data.from_name">
            <input type="hidden" ng-model="data.from_email">
            <input type="hidden" ng-model="data.from_phone">
            <span> <!-- Email Address -->
                    <ui-select ng-model="choice.selectedEmail" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="dropdownChoice.email($select.selected)">
                        <ui-select-match
                                placeholder="{{choice.selectedEmail.label}}">{{ choice.selectedEmail.label }}</ui-select-match>
                        <ui-select-choices repeat="opt in emails">
                            <span ng-bind-html="opt.label"></span>
                        </ui-select-choices>
                    </ui-select>
                </span>
            <span>
                    <ui-select ng-if="numbers.length" ng-model="choice.selectedPhone" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="dropdownChoice.phone($select.selected)">
                        <ui-select-match
                                placeholder="{{choice.selectedPhone.forNumber}}">{{ choice.selectedPhone.forNumber }}</ui-select-match>
                        <ui-select-choices repeat="opt in numbers">
                            <span ng-bind-html="opt.forNumber"></span>
                        </ui-select-choices>
                    </ui-select>
                </span>
        </td>
    </tr>
    <tr>
        <td>Recipient(s)
            <!-- <a uib-tooltip="{{tooltips[2]}}"><i class="fa fa-info-circle fa-lg"></i></a> --></td>
        <td>
                <span>
                    <!--<input type="hidden" value="{{value}}" id="contacts" name="contacts">-->
                    <ui-select ng-model="choice.selected" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="dropdownChoice.contact($select.selected)" reset-search-input="true"> <ui-select-match
                            placeholder="Choose Person By Name">Choose Person By Name</ui-select-match>
                        <ui-select-choices repeat="friend in contacts | filter:filterUsed | filter: $select.search">
                            <span ng-bind-html="friend.label | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <table class="table table-hover table-striped" ng-if="recipients.length">
                        <tr ng-repeat="(key, disp) in recipients">
                            <td>{{ disp.label }}</td>
                            <td><a href="" ng-click="remove(key)">Remove</a></td>
                        </tr>
                    </table>
                </span>
        </td>
    </tr>
    <tr ng-if="event_id">
        <td>Mark Invite As</td>
        <td>
            <input type="hidden" id="event_id" name="event_id" value="{{event_id}}">
            <input type="hidden" id="mark_as" name="mark_as" value="{{choice.selected.id}}">
            <ui-select ng-model="choice.selected" theme="selectize"
                       ng-disabled="disabled" style="width: 400px;"
                       on-select="dropdownChoice($select.selected)">
                <ui-select-match placeholder="{{no_status.name}}">{{ choice.selected.name }}</ui-select-match>
                <ui-select-choices repeat="opt in responses">
                    <span ng-bind-html="opt.name"></span>
                </ui-select-choices>
            </ui-select>
        </td>
    </tr>
    <tr ng-if="messages.length > 0">
        <td>Preset Message (optional)
            <!--<a uib-tooltip="{{tooltips[4]}}"><i class="fa fa-info-circle fa-lg"></i></a>--></td>
        <td>
                <span>
                    <ui-select ng-model="choice.selected" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="dropdownChoice.outgoing_message($select.selected)" reset-search-input="true"> <ui-select-match
                            placeholder="Choose Preset Message">Choose Preset Message</ui-select-match>
                        <ui-select-choices repeat="opt in messages">
                            <span ng-bind-html="opt.title"></span>
                        </ui-select-choices>
                    </ui-select>
                </span>
            <!--  $this->Design->selectorOutgoingMessage('outgoingMessage', 'Choose Preset Message');-->
        </td>
    </tr>
    <tr>
        <td>Title / Subject</td>
        <td><input type="text" ng-model="data.subject"></td>
    </tr>
    <tr>
        <td>Body of Message</td>
        <td>
            <textarea ng-model="data.body"></textarea>
        </td>
    </tr>
    <tr ng-if="hasAttachments">
        <td>Attachments</td>
        <td>
            <input type="file" accept=".png,.gif,.jpg" file-model="myFile" ng-model="myFile"></input>
            <button ng-click="uploadFile()">Upload File</button>
        </td>
    </tr>
    <tr ng-if="fileData.length > 0">
        <td></td>
        <td>
            <table class="table table-hover table-striped" ng-if="fileData.length > 0">
                <tr ng-repeat="(key, disp) in fileData">
                    <td>{{ disp.id }}</td>
                    <td><img src="{{disp.path}}" width="30" height="30"></td>
                    <td><a href="" ng-click="remove_fileData(key)">Remove</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr ng-if="shorts.length > 0">
        <td>Include Short URL</td>
        <td>
                <span>
                    <ui-select ng-model="choice.selectedShort" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="dropdownChoice.short($select.selected)">
                        <ui-select-match
                                placeholder="{{emptyShort.name}}">{{ choice.selectedShort.name }}</ui-select-match>
                                         <ui-select-choices repeat="short in shorts">
                                         <span ng-bind-html="short.name"></span>
                            </ui-select-choices>
                    </ui-select>
                </span>
        </td>
    </tr>
    <tr>
        <td>When to Send Message <a uib-tooltip="{{tooltips[7]}}"><i class="fa fa-info-circle fa-lg"></i></a></td>
        <td>
            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                    <div class="input-group"><input id="OutgoingMessageProcesstime"
                                                    name="data[OutgoingMessage][processtime]" type="text"
                                                    class="form-control" data-ng-model="data.dateDropDownInput"><span
                            class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="data.dateDropDownInput"
                                    data-before-render="startDateBeforeRender($dates)"
                                    data-datetimepicker-config="{ modelType:'YYYY-MM-DD hh:mm A Z', dropdownSelector: '.dropdown-toggle' }"/>
                </ul>
            </div>
        </td>
    </tr>
</table>
<div class="col-sm-offset-9 col-sm-3">
    <a ng-click="subData()" class="btn btn-block btn-success center">Send Message</a>
</div>
