<div class="center">
    <span class="infoChi-big">Outbound Messages - Pending</span><br>
    <a href="#/queue_messages/create">Create & Send Message</a>
</div>
<a ng-click="getData()">Refresh</a>
<table class="table table-striped">
    <tr>
        <th>Subject</th>
        <th>Recipient</th>
        <th>Sending Time</th>
    </tr>
    <tr dir-paginate="dat in data | itemsPerPage: 20" pagination-id="queueMessagePending">
        <td>{{dat.subject}}</td>
        <td><a href="#/people/view/{{dat.person_id}}">{{dat.person.fname}}, {{dat.person.sname}}</a></td>
        <td>{{dat.DeliveryTime}}</td>
    </tr>
</table>
<div class="text-center">
    <dir-pagination-controls boundary-links="true"
                             on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="/html/template/dirPagination.tpl.html"
                             pagination-id="queueMessagePending"></dir-pagination-controls>
</div>
