<div class="center">
    <span style="font-size: 200%">{{Current.User.name}}</span>
    &nbsp;<a href="#/users/{{Current.User.id}}"><i class="fas fa-address-card" aria-hidden="true"></i></a>   
<!--    &nbsp;<a ng-click="getData()"><i class="fas fa-sync" aria-hidden="true"></i></a>-->
</div>
<div ng-if="btns.features.length">
    <h3 style="clear: both;">Features</h3>
    <div ng-repeat="btn in btns.features| orderBy: 'sort'">
        <div class="infoChi-badge-w col-xs-3">
            <a href="#/{{btn.link}}">
                <div class="infoChi-badge-h well well-sm">
                    <p>
                        <i class="fas fa-5x {{btn.fa_icon}}" aria-hidden="true"></i>
                    </p>
                    <p>{{btn.label}}</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div ng-if="btns.admin.length">
    <h3 style="clear: both;">Admin</h3>
    <div ng-repeat="btn in btns.admin">
        <div class="infoChi-badge-w col-xs-3">
            <a href="#/{{btn.link}}">
                <div class="infoChi-badge-h well well-sm">
                    <p>
                        <i class="fas fa-5x {{btn.fa_icon}}" aria-hidden="true"></i>
                    </p>
                    <p>{{btn.label}}</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div ng-if="btns.clients.length > 1">
    <h3 style="clear: both;">Change Client</h3>
    (Current - {{Current.Client.name}})<br>&nbsp;
    <div ng-repeat="btn in btns.clients">
        <div ng-if="Current.Client.id != btn.id" class="infoChi-badge-w col-xs-3">
            <a ng-click="changeClient(btn.id)">
                <div class="infoChi-badge-h well well-sm">
                    <p>
                        <i class="fas fa-5x {{btn.fa_icon}}" aria-hidden="true"></i>
                    </p>
                    <p>{{btn.label}}</p>
                </div>
            </a>
        </div>
    </div>
</div>
