<div>
    <div class="center">
        <span class="infoChi-big">Process Types - Create</span><br> <a
            href="#/p_types">List</a><br>&nbsp;
    </div>
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" ng-model="Data.name"></td>
        </tr>
        <tr>
            <td>Kind</td>
            <td>
                <span>
                    <ui-select ng-model="Selected.kind" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               allow-clear on-select="updateChoice('kind')"> <ui-select-no-choice>
                        </ui-select-no-choice> <ui-select-match
                            placeholder="{{Selected.kind.label}}">{{Selected.kind.label}}</ui-select-match>
                        <ui-select-choices repeat="choice in Choices.kind | filter: $select.search">
                            <span ng-bind-html="choice.label | highlight: $select.search"></span>
                        </ui-select-choices> </ui-select>
                </span>
            </td>
        </tr>

        <tr>
            <td>View (Filename)</td>
            <td><input type="text" ng-model="Data.filename_view"></td>
        </tr>
        <tr>
            <td>Twiml (Function)</td>
            <td><input type="text" ng-model="Data.function_twiml"></td>
        </tr>
    </table>
    <a href="" ng-click="updateData()" class="btn btn-primary">Create</a>
</div>
