<div>
    <div class="center">
        <span class="infoChi-big">Process Types</span><a
            href="#/p_types/create"><br>Create</a><br>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>p_kind_id</th>
                <th>View (Filename)</th>
                <th>Twiml (Function)</th> 
                <th></th>
                <!--<th></th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dat in data">
                <td>{{dat.name}}</td>   
                <td>{{dat.p_kind.name}}</td>
                <td>{{dat.filename_view}}</td>
                <td>{{dat.function_twiml}}</td>
                <td><a href="#/p_types/{{dat.id}}" class="btn btn-xs btn-success">View</a></td>
                <!--<td><a href="#/outgoing_messages/delete/{{message.id}}" class="btn btn-xs btn-danger">Delete</a></td>-->
            </tr>
        </tbody>
    </table>
</div>