<div>
    <div class="center">
        <span class="infoChi-big">Process Types - View &amp; Edit</span><br> <a
            href="#/p_types">Process Types List</a><br>&nbsp;
    </div>
    <form ng-submit="updateData()">
        <table>
            <tr>
                <td>Id:</td>
                <td>{{ Data.id }}</td>
            </tr>
            <tr>
                <td>Kind</td>
                <td>
                <span>
                    <ui-select ng-model="Selected.kind" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               allow-clear on-select="updateChoice('kind')"> <ui-select-no-choice>
                        </ui-select-no-choice> <ui-select-match
                            placeholder="{{Selected.kind.label}}">{{ Selected.kind.label }}</ui-select-match>
                        <ui-select-choices repeat="choice in Choices.kind | filter: $select.search">
                            <span ng-bind-html="choice.label | highlight: $select.search"></span>
                        </ui-select-choices> </ui-select>
                </span>
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" ng-model="Data.name"></td>
            </tr>
            <tr>
                <td>View</td>
                <td><input type="text" ng-model="Data.filename_view"></td>
                <td>Filename</td>
            </tr>
            <tr>
                <td>Twiml</td>
                <td><input type="text" ng-model="Data.function_twiml"></td>
                <td>Filename</td>
            </tr>

            <tr>
                <td>Show Next Module</td>
                <td><input type="text" ng-model="Data.show_next_module"></td>
                <td>0 or 1 - Boolean</td>
            </tr>
            <tr>
                <td>Active in UI List</td>
                <td><input type="text" ng-model="Data.active"></td>
                <td>0 or 1 - Boolean</td>
            </tr>
        </table>
        <input type="submit" class="btn btn-success" value="Update">
    </form>
</div>
