<div>
    <div style="text-align: center;">
        <span style="font-size: 200%">Process Trees - {{ getStatusDeleted() }}</span><br>
        <a ng-click="setDeletedList(0)" ng-enter="removeFeature(feature.id)" href="#/p_trees">Active</a> /
        <a ng-click="setDeletedList(1)" ng-enter="removeFeature(feature.id)" href="#/p_trees">Deleted</a> |
        <a href="#/p_trees/add">Create New</a><br>
    </div>
    <table class="table table-hover table-striped">
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        <tr dir-paginate="pTree in pTrees | filter:filterPerson | filter:filterBrief | itemsPerPage: pageSize"
            pagination-id="logIndex">
            <td>{{ pTree.p_kind.name }}</td>
            <td>{{ pTree.name }}</td>
            <td><a href="#/p_trees/{{pTree.id}}" class="btn btn-xs btn-primary">View / Edit</a></td>
            <td><a ng-click="itemClose(pTree.id)"
                   class="btn btn-xs btn-danger">{{ showChangeStatus(pTree.closed) }}</a></td>
        </tr>
    </table>
    <div class="text-center">
        <dir-pagination-controls boundary-links="true"
                                 on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/html/template/dirPagination.tpl.html"
                                 pagination-id="logIndex"></dir-pagination-controls>
    </div>
</div>
