<div class="center">
    <span class="infoChi-big">Process Tree - {{pTree.name}}</span><br>
    <a href="#/p_trees">Process Tree List</a><br>
</div>
<p>&nbsp;</p>
<table>
    <tr>
        <td>Tree - First Branch Type</td>
        <td>
            <span>
                <ui-select ng-model="pType.selected" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           on-select="setType($select.selected)" reset-search-input="true"> <ui-select-match
                        placeholder="{{pType.selected.name}}">{{pType.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="pType in pTypes | filter:filterUsed | filter: $select.search">
                        <span ng-bind-html="pType.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </span>
        </td>
        <td></td>
    </tr>
    <tr ng-if="pTree.id">
        <td>First Branch</td>
        <td><span ng-if="pBranch.id"><a href="#/p_branches/{{pBranch.id}}">{{pBranch.name}}</a></span></td>
        <td></td>
    </tr>
    <tr ng-if="pTree.id">
        <td>Tree Name</td>
        <td><input type="text" ng-model="pTree.name"></td>
        <td><a ng-if="pTree.old_name != pTree.name" ng-click="update()" class="btn  btn-xs btn-success">Update</a></td>
    </tr>
</table>
