<div class="center">
    <span class="infoChi-big">Additional Person Information - Create</span><br>
    <a href="#/meta_columns/{{type_id}}">List</a><br>&nbsp;
</div>
<div class="well">
    <form ng-submit="submit()">
        <table class="table">
            <tr>
                <td>Name</td>
                <td><input type="text" ng-model="data.name"></td>
            </tr>
            <tr>
                <td>Variable Name</td>
                <td><input type="text" ng-model="data.vname"></td>
            </tr>
            <tr>
                <td>Type</td>
                <td>
                <span>
                    <ui-select ng-model="optValues.column" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="selectItem($select.selected)" allow-clear> <ui-select-no-choice>
                        </ui-select-no-choice> <ui-select-match
                            placeholder="{{optChoice.column.name}}">{{ optValues.column.name }}</ui-select-match>
                        <ui-select-choices
                                repeat="opt in types | filter: $select.search"> <span
                                ng-bind-html="opt.name | highlight: $select.search"></span> </ui-select-choices>
                    </ui-select>
                </span>
                </td>
            </tr>
        </table>
        <input type="submit" class="btn btn-success" value="Add Additional Information">
    </form>
</div>
