<div>
    <div style="text-align: center;">
        <span style="font-size: 200%">{{data.title}}</span><br> <a
            href="#/meta_columns/create/{{data.type_id}}">Create</a><br>&nbsp;
    </div>
    <table class="table table-hover table-striped">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th><!-- Action --></th>
            <th><!-- Action --></th>
            <th><!-- Action --></th>
        </tr>
        <tr dir-paginate="metaColumn in metaColumns | orderBy: 'name' | itemsPerPage: pageSize">
            <td>{{metaColumn.name}}</td>
            <td>{{fromList(metaColumn.m_c_type.display, Choices.display)}}</td>
            <td><span ng-if="showEdit(metaColumn)"><a href="#/m_c_types/{{metaColumn.mc_type_id}}" class="btn btn-xs btn-success">Edit Options</a></span></td>
            <td><a href="#/meta_columns/view/{{metaColumn.id}}" class="btn btn-xs btn-success">View</a></td>
            <td><a ng-click="deleteItem(metaColumn)" class="btn btn-xs btn-danger">Delete</a></td>
        </tr>
    </table>
    <div class="text-center">
        <dir-pagination-controls boundary-links="true"
                                 on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/html/template/dirPagination.tpl.html"></dir-pagination-controls>
    </div>

</div>