<div class="center">
    <span class="infoChi-big">People with Additional Information - {{ summary.name }}</span>
    <a ng-click="editMetaColumn()"><i class="fa fa-edit" aria-hidden="true"></i></a> |
    <a ng-click="getDetail()"><i class="fas fa-sync" aria-hidden="true"></i></a><br>
    <span ng-if="summary.vname">Personalization Variable: 
        <span>{{</span>{{ summary.vname }}<span>}}</span> <!-- Extra <span> sections are for escaping the {{ and }} -->
            <a uib-tooltip="{{tooltips[8]}}"><i class="fa fa-info-circle fa-lg"></i></a>
        </span><br>
    <a href="#/meta_columns/{{summary.meta_column_type_id}}">List</a>
    <span ng-if="isList()">
         | <a href="#/m_c_types/{{summary.mc_type_id}}">Edit Options</a>
    </span>
</div>
<p>
    <span ng-if="sdata.m_c_type && sdata.m_c_type.display == 'enum'">
        Optional Filters:
    <ui-select ng-model="optValues.column" theme="selectize"
               ng-disabled="disabled" style="width: 400px;"
               on-select="setFilter($select.selected)" allow-clear> <ui-select-no-choice>
            </ui-select-no-choice> <ui-select-match
            placeholder="{{optChoice.column.name}}">{{optChoice.column.name}}</ui-select-match>
            <ui-select-choices
                    repeat="opt in Options.column | filter: $select.search"> <span
                    ng-bind-html="opt.name | highlight: $select.search"></span> </ui-select-choices>
        </ui-select>        
    </span>
    <span ng-if="sdata.m_c_type && sdata.m_c_type.display == 'enum'">
        Additional Boolean Filters:
    <ui-select ng-model="optBoolean.column" theme="selectize"
               ng-disabled="disabled" style="width: 400px;"
               on-select="setEFilter($select.selected)" allow-clear> <ui-select-no-choice>
            </ui-select-no-choice> <ui-select-match
            placeholder="{{optEChoice.column.name}}">{{optEChoice.column.name}}</ui-select-match>
            <ui-select-choices
                    repeat="opt in EOpt.column | filter: $select.search"> <span
                    ng-bind-html="opt.name | highlight: $select.search"></span> </ui-select-choices>
        </ui-select>
    </span>

    <a ng-click="setMethod(0)">No Method</a>,
    <a ng-click="setMethod(1)">SMS</a>,
    <a ng-click="setMethod(3)">EMail</a>,
    <a ng-click="setMethod(10)">Preferred Contact</a>

</p>

<table class="table table-striped table-hover">
    <tr>
        <th><a ng-click="setSort('name')">Last Name</a>
            <span class="sortorder" ng-show="sortColumn === 'name'" ng-class="{reverse:reverse}"></span></th>
        <th>First Name</th>
        <th ng-if="showData()">
            <a ng-click="setSort('MetaDataValue')">{{ sdata.name }}</a>
            <span class="sortorder" ng-show="sortColumn === 'MetaDataValue'" ng-class="{reverse:reverse}"></span>
        </th>
        <th><!-- Action --></th>
        <th><a ng-click="sendComm(); $event.preventDefault()" href="#">Create Message</a></th>
    </tr>
    <tr dir-paginate="det in detail | filter:runFilter | filter:q | orderBy:predicate:reverse | itemsPerPage: pageSize">
        <td>{{ det.sname }}</td>
        <td>{{ det.fname }}</td>
        <td ng-if="showData()">{{ det.MetaDataValue }}

        </td>
        <td><a href="#/people/view/{{det.id}}"
               class="btn btn-xs btn-primary">View Individual</a></td>
        <td>
            <span>
                <ui-select ng-model="choice[det.id]" theme="selectize" ng-disabled="disabled" style="width: 400px;"
                           allow-clear> <ui-select-no-choice>
                    </ui-select-no-choice> <ui-select-match
                        placeholder="Choose Contact Method">{{ choice[det.id].label }}</ui-select-match>
                    <ui-select-choices
                            repeat="opt in det.PersonMethod | filter: $select.search"> <span
                            ng-bind-html="opt.label | highlight: $select.search"></span> </ui-select-choices>
                </ui-select>
            </span>
        </td>
    </tr>
</table>
<div class="text-center">
    <dir-pagination-controls boundary-links="true"
                             on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="/html/template/dirPagination.tpl.html"></dir-pagination-controls>
</div>