<div>
    <div style="text-align: center;">
        <span style="font-size: 200%">Logs</span>    <a href="" ng-click="refresh()"><i class="fas fa-sync" aria-hidden="true"></i></a>
        <br>&nbsp;
    </div>
    <div ng-if="people.length">
        Filter By Person:<br>
        <ui-select ng-model="filterBy.person" theme="selectize"
                   ng-disabled="disabled" style="width: 400px;"
                   allow-clear on-select="updateFilterBy()"> <ui-select-no-choice>
            </ui-select-no-choice> <ui-select-match
                placeholder="{{filterBy.person.label}}">{{filterBy.person.label}}</ui-select-match>
            <ui-select-choices repeat="person in people | filter: $select.search">
                <span ng-bind-html="person.label | highlight: $select.search"></span>
            </ui-select-choices> </ui-select>
    </div>
    <div ng-if="briefs.length">
        Filter By Brief:<br>
        <ui-select ng-model="filterBy.brief" theme="selectize"
                   ng-disabled="disabled" style="width: 400px;"
                   allow-clear on-select="updateFilterBy()"> <ui-select-no-choice>
            </ui-select-no-choice> <ui-select-match
                placeholder="{{filterBy.brief.label}}">{{filterBy.brief.label}}</ui-select-match>
            <ui-select-choices repeat="brief in briefs | filter: $select.search">
                <span ng-bind-html="brief.label | highlight: $select.search"></span>
            </ui-select-choices> </ui-select>
    </div>
    <table class="table table-hover table-striped">
        <tr>
            <td>Log Started</td>
            <td>Action</td>
            <td>People</td>
            <td>Brief</td>
            <td></td>
            <td></td>
        </tr>
        <tr dir-paginate="log in logs | filter:filterPerson | filter:filterBrief | itemsPerPage: pageSize"
            pagination-id="logIndex">
            <td>{{log.created}}</td>
            <td>{{log.action}}</td>
            <td><ul>
                    <li ng-repeat="p in log.people"><a href="#/logs/person/{{p.id}}">{{p.label}}</a></li>
                </ul></td>
            <td>{{log.brief}}</td>
            <td><a href="#/logs/{{log.id}}{{linkPersonId}}" class="btn btn-success btn-xs">View</a></td>
            <td><span ng-if="log.Action.resend"><a href="#/queue_messages/create/log_id/{{log.id}}" class="btn btn-primary btn-xs">Re-Send</a></span></td>
        </tr>
    </table>
    <div class="text-center">
        <dir-pagination-controls boundary-links="true"
                                 on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/html/template/dirPagination.tpl.html"
                                 pagination-id="logIndex"></dir-pagination-controls>
    </div>

</div>
