<div>
    <div style="text-align: center;">
        <span style="font-size: 200%">Person Log</span> <a ng-click="getData()">Refresh</a><br> <a
            href="#/logs">Index</a><br>&nbsp;
    </div>
    <!-- LogNote Area -->
    <div ng-repeat="(key, Sect) in Sections">
        <!--        <hr class="infoChi-hr" ng-if="key > 0">-->
        <!-- Section: -->
            <div class="well row">
                <div class="col-xs-3">
                    <strong>From:</strong>
                    <span ng-if="Sect.from_name">{{ Sect.from_name }}</span>
                    <span ng-if="Sect.from_name && Sect.from_formatted">-</span>
                    <span ng-if="Sect.from_formatted">{{ Sect.from_formatted }}<span>

                </div>
                <div class="col-xs-3">
                    <strong>To:</strong>
                    <span ng-if="Sect.dest_name">{{ Sect.dest_name }}</span>
                    <span ng-if="Sect.dest_name && Sect.dest_formatted">-</span>
                    <span ng-if="Sect.dest_formatted">{{ Sect.dest_formatted }}</span>
                </div>
                <div class="col-xs-3">
                    <strong>Message Time:</strong> <span ng-if="Sect.start_time">{{ Sect.start_time }}</span>
                </div>
            
                <div class="col-xs-12">
                    <hr class="infoChi-hr">
                </div>
                <!-- Attachments -->
                <!-- <div class="well" ng-if="Sect.attachment.length">
                    <table class="table table-striped" style="background-color: #FFFFFF;" >
                        <tr ng-repeat="attachment in Sect.attachment">
                            <td><a href="{{ attachment.path }}">{{ attachment.name }}</a></td>
                            <td><img src="{{ attachment.path }}" height="50" ng-if="attachment.is_image"></td>
                        </tr>
                    </table>
                </div> -->
                <!-- Attachments -->
                <!-- Body -->
                <div class="col-xs-1" ng-if="Sect.inbound == 1">
                    <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-xs-11" style="background-color: #FFFFFF;" ng-bind-html="Sect.body"></div>
                <div class="col-xs-1" ng-if="Sect.inbound == 0">
                    <i class="fa fa-caret-left fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

