<div>
    <div style="text-align: center;">
        <span style="font-size: 200%">Individual Log</span><br> <a
            href="#/logs">Index</a><br>&nbsp;
    </div>
    <table class="table table-hover table-striped">
        <tr>
            <td>Log Started</td>
            <td>Original Method</td>
            <td>Brief</td>
        </tr>
        <tr>
            <td>{{ Log.created }}</td>
            <td>{{ Log.action }}</td>
            <td>
                <form ng-submit="updBrief()">
                    <input type="input" ng-model="Log.brief" style="width: 200px;">
                    <span ng-if="Log.brief != Log.brief_orig">
                    <a href="" ng-click="updBrief()" class="btn btn-xs btn-primary">Update Brief</a>
                </span>
                </form>
            </td>
        </tr>
        <tr>
            <td ng-if="Log.msg_id != 0">
                <a href="#/messages/{{Log.msg_id}}" class="btn btn-primary btn-xs">View
                    Message</a>
            </td>
            <td ng-if="Log.resend">
                <a href="#/queue_messages/create/log_id/{{Log.id}}" class="btn btn-primary btn-xs">Re-Send</a>
            </td>
        </tr>
    </table>
    <p>&nbsp;</p>
    <!-- Attachments -->
    <div class="well" ng-if="Attachments.length">
        <table class="table table-striped" style="background-color: #FFFFFF;">
            <tr ng-repeat="attachment in Attachments">
                <td><a href="{{ attachment.path }}">{{ attachment.name }}</a></td>
                <td><img src="{{ attachment.path }}" height="50" ng-if="attachment.is_image"></td>
            </tr>
        </table>
    </div>
    <!-- Attachments -->
    <hr class="infoChi-hr">
    <!-- LogNote Area -->
    <div ng-repeat="(key, Sect) in Sections | filter:filterPerson">
        <div class="well row">
            <div class="col-xs-4">
                <strong>From:</strong>
                <a href="#/people/view/{{Sect.person_id}}" ng-if="Sect.person_id && Sect.inbound">
                    <span ng-if="Sect.from_name">{{ Sect.from_name }} - </span>{{ Sect.from_formatted }}
                </a>
                <span ng-if="!( Sect.person_id && Sect.inbound)">
                        <span ng-if="Sect.from_name">{{ Sect.from_name }} - </span>{{ Sect.from_formatted }}
                    </span>

            </div>
            <div class="col-xs-4">
                <strong>To:</strong>
                <a href="#/people/view/{{Sect.person_id}}" ng-if="Sect.person_id && !Sect.inbound">
                    <span ng-if="Sect.dest_name">{{ Sect.dest_name }} - </span>{{ Sect.dest_formatted }}
                </a>
                <span ng-if="!( Sect.person_id && !Sect.inbound)">
                        <span ng-if="Sect.dest_name">{{ Sect.dest_name }} - </span>{{ Sect.dest_formatted }}
                    </span>
            </div>
            <div class="col-xs-4">
                <strong>Start Time:</strong> <span ng-if="Sect.start_time">{{ Sect.start_time }}</span>
            </div>
            <div class="clear-both"></div>
            <div>
                <hr class="infoChi-hr">
            </div>

            <div class="col-xs-1" ng-if="Sect.inbound == 1">
                <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
                <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-xs-11" style="background-color: #FFFFFF;" ng-bind-html="Sect.body"></div>
            <div class="col-xs-1" ng-if="Sect.inbound == 0">
                <i class="fa fa-caret-left fa-2x" aria-hidden="true"></i>
                <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
            </div>
        </div>
    </div>
