<table class="table table-hover">
    <tr>
        <th>Action Time</th>
        <th>User Name</th>
        <th>Client Name</th>
        <!--<th></th>-->
    </tr>
    <tr dir-paginate="dat in data | filter:filterData | itemsPerPage: pageSize">
        <td>{{dat.effTime}}</td>
        <td>{{dat.user.email_name}}</td>
        <td>{{dat.client.name}}</td>
        <!--<td>{{dat}}</td>-->
    </tr>
</table> 
<div class="text-center">
    <dir-pagination-controls boundary-links="true"
                             on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="/html/template/dirPagination.tpl.html">
    </dir-pagination-controls>
</div>
<a ng-click="getData()">Get Additional Records</a> | <a ng-click="startOver()">Start Over</a>