<div>
    <div class="center">
        <span class="infoChi-big">User Information</span><br>
        <span><a href="#/users">Index</a><br></span>
    </div>
    <form ng-submit="submit()" class="well">
        <div>
            <div class="cos-xs-12 col-sm-3">
                Client
            </div>
            <div class="col-xs-12 col-sm-9">
                Current Client
            </div>
            &nbsp;<br>
            <div class="cos-xs-12 col-sm-3">
                Username (Email address)
            </div>
            <div class="col-xs-12 col-sm-9">
                <input ng-model="data.email" type="text" size="60">
            </div>
        </div>
        <div>&nbsp;<br>Once you have created an account using this form, please use the reset password feature to
            generate your password.<br>&nbsp;
        </div>
        <div>
            <div class="cos-xs-12 col-sm-3">
                First Name
            </div>
            <div class="col-xs-12 col-sm-9">
                <input ng-model="data.fname" type="text" size="60">
            </div>
        </div>
        <div>&nbsp;</div>
        <div>
            <div class="cos-xs-12 col-sm-3">
                Last Name
            </div>
            <div class="col-xs-12 col-sm-9">
                <input ng-model="data.sname" type="text" size="60">
            </div>
        </div>
        <div>&nbsp;</div>
        <div>
            <div class="cos-xs-12 col-sm-3">
                Phone Number
            </div>
            <div class="col-xs-12 col-sm-9">
                <input ng-model="data.phone" type="text" size="60">
            </div>
        </div>
        <div>&nbsp;</div>
        <div>
            <div class="cos-xs-12 col-sm-3">
                Email Address - Above
            </div>
            <div class="col-xs-12 col-sm-9">
                {{ data.email }}
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="row">
            <div class="col-sm-offset-9 col-sm-3">
                <input type="submit" value="Create Account"
                       class="btn btn-block btn-success center">
            </div>
        </div>
    </form>
</div>