<div>
    <div class="center">
        <span class="infoChi-big">User Information</span>
        | <a ng-click="getData()">Refresh</a><br>
        <span><a href="#/users/create">Create New</a><br></span>
        <span ng-if="client_id == 0">{{ filter_client_id }}
            <a ng-click="setFilter('client_id', 0)" class="btn btn-xs btn-primary" ng-class="{em: 0 == filter_id}">My Clients</a>
            <span ng-repeat="Client in Clients">
                <a ng-click="setFilter('client_id', Client.id)" class="btn btn-xs btn-primary"
                   ng-class="{em: Client.id == filter_id}">{{ Client.name }}</a>
            </span>
        </span>
    </div>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th></th>
            <th>email</th>
            <th>Global Role</th>
            <th>Clients</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dat in data|filter:runFilter">
            <td><a class="btn btn-xs btn-primary" href="#/users/{{dat.id}}">Edit / View</a></td>
            <td>{{ dat.email }}</td>
            <td>{{ dat.role }}</td>
            <td>
                <table ng-if="dat.Clients.length" class="table table-hover table-striped">
                    <tr ng-repeat="client in dat.Clients">
                        <td style="width: 50%"> {{ client.name }} - {{ client.role }}</td>
                        <td style="width: 50%"><a class="btn btn-xs btn-danger"
                                                  ng-click="deleteFromClient(client.client_user_id)">Remove
                            from Client</a></td>
                    </tr>
                </table>
                <span ng-if="dat.addClients.length">
                    <ui-select ng-model="Selected.primary_client_id" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               allow-clear on-select="addClient(dat.id, $select.selected)"> <ui-select-no-choice>
                        </ui-select-no-choice> <ui-select-match
                            placeholder="Add User to Client">Add User to Client</ui-select-match>
                        <ui-select-choices repeat="choice in dat.addClients | filter: $select.search">
                            <span ng-bind-html="choice.label | highlight: $select.search"></span>
                        </ui-select-choices> </ui-select>
                </span>

            </td>
        </tr>
        </tbody>
    </table>
    * A User is considered inactive and they cannot log un unless they have a client defined. As a result a user can easily be made active again.
</div>