<div class="center">
    <span class="infoChi-big">User Profile - View / Edit</span>
    <!--    <br> <a
            href="#/users">List</a><br>&nbsp;-->
</div>
<form class="well" ng-submit="updateData()">
    <flash-message name="updUser"></flash-message>
    <table class="table">
        <tr>
            <td>Username</td>
            <td>{{ Data.username }}</td>
        </tr>
        <tr>
            <!--Dropdown-->
            <td>Primary Client</td>
            <td>
                <span>
                    <ui-select ng-model="Selected.primary_client_id" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               allow-clear on-select="updateChoice('primary_client_id')"> <ui-select-no-choice>
                        </ui-select-no-choice> <ui-select-match
                            placeholder="{{Selected.primary_client_id.label}}">{{ Selected.primary_client_id.label
                        }}</ui-select-match>
                        <ui-select-choices repeat="choice in Choices.clients | filter: $select.search">
                            <span ng-bind-html="choice.label | highlight: $select.search"></span>
                        </ui-select-choices> </ui-select>
                </span>

            </td>
        </tr>
        <tr>
            <!--Dropdown-->
            <td>Person</td>
            <td>
                <span>
                    <ui-select ng-model="Selected.person_id" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               allow-clear on-select="updateChoice('person_id')"> <ui-select-no-choice>
                        </ui-select-no-choice> <ui-select-match
                            placeholder="{{Selected.person_id.label}}">{{ Selected.person_id.label }}</ui-select-match>
                        <ui-select-choices repeat="choice in Choices.people | filter: $select.search">
                            <span ng-bind-html="choice.label | highlight: $select.search"></span>
                        </ui-select-choices> </ui-select>
                </span>
            </td>
        </tr>
        <tr ng-if="CustomEmailList.length == 0">
            <!--Dropdown-->
            <td>System Email as Primary</td>
            <td>
                <span>
                    <ui-select ng-model="Selected.email_primary" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               allow-clear on-select="updateChoice('email_primary')"> <ui-select-no-choice>
                        </ui-select-no-choice> <ui-select-match
                            placeholder="{{Selected.email_primary.label}}">{{ Selected.email_primary.label
                        }}</ui-select-match>
                        <ui-select-choices repeat="choice in Choices.yesno | filter: $select.search">
                            <span ng-bind-html="choice.label | highlight: $select.search"></span>
                        </ui-select-choices> </ui-select>
                </span>

            </td>
        </tr>
        <tr ng-if="CustomEmailList.length == 0">
            <td>Name for Email</td>
            <td><input type="text" ng-model="Data.email_name"></td>
        </tr>
        <tr ng-if="CustomEmailList.length == 0">
            <td>Alternate Email Address</td>
            <td><input type="text" ng-model="Data.email_address"></td>
        </tr>
    </table>
    <input type="submit" class="btn btn-primary" value="Update">
</form>

<form class="well" ng-submit="updatePw()">
    <div>
        <h3>Password Change / Update </h3>
    </div>
    <flash-message name="updPasswd"></flash-message>
    <table class="table">
        <tr>
            <td>Current Password</td>
            <td><input type="password" ng-model="Data.passwd_current"></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="password" ng-model="Data.passwd"></td>
        </tr>
        <tr>
            <td>New Password Again</td>
            <td><input type="password" ng-model="Data.passwd2"></td>
        </tr>
    </table>
    <input type="submit" class="btn btn-primary">
</form>
<div class="well" ng-if="CustomEmailList.length > 0">
    <flash-message name="updEmailList"></flash-message>
    <div>
        <h3>Outbound Email Sorting</h3>
    </div>
    <table class="table table-striped">
        <tr ng-repeat="Item in CustomEmailList">
            <td>{{ Item.name }} &lt;{{ Item.email }}&gt; {{ Item.suffix }}</td>
            <td>
                <a ng-if="!$first" ng-click="moveUpCEL(Item.id)" class="btn btn-xs btn-success">Move Up</a>
            </td>
            <td>
                <a ng-if="!$last" ng-click="moveDownCEL(Item.id)" class="btn btn-xs btn-success">Move Down</a>
            </td>
        </tr>
    </table>
    <a class="btn btn-primary" ng-click="saveCustomEmailList()">Save Email List</a>
</div>

<div class="well" ng-if="showSectionFeatures == 1">
    <div class="infoChi-big center">Client Features</div>
    <ui-select ng-model="newFeature" theme="selectize"
               ng-disabled="disabled" style="width: 400px;"
               on-select="addFeature($select.selected)" allow-clear>
        <ui-select-no-choice>
        </ui-select-no-choice>
        <ui-select-match
                placeholder="Add Feature to User">Add Feature to User
        </ui-select-match>
        <ui-select-choices
                repeat="feature in newFeatures | filter: filterFeatureList | orderBy:'name':false | filter: $select.search">
            <span ng-bind-html="feature.name | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>
    <table class="table table-hover table-striped">
        <tr>
            <th>Feature Name</th>
            <th></th>
        </tr>
        <tr dir-paginate="feature in Features | orderBy:'name':false | itemsPerPage: pageSize"
            pagination-id="feature">
            <td>{{feature.name}}</td>
            <td><a ng-click="removeFeature(feature.id); $event.preventDefault()"
                   ng-enter="removeFeature(feature.id)" href="#"
                   class="btn btn-xs btn-warning">Remove</a></td>
            <!-- <td>{{metaDat}}</td> -->
        </tr>
    </table>
    <div class="text-center">
        <dir-pagination-controls boundary-links="true"
                                 on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/html/template/dirPagination.tpl.html"
                                 pagination-id="feature"></dir-pagination-controls>
    </div>
</div>
