<div class="center">
    <span class="infoChi-big">People - Address Search</span><br>
    <a href="#/people">People List</a> |
    <a href="#/people/signup">Create Person</a>
    <!-- | <a href="/people/import">Import</a>--> |
    <a href="#/people/find">Phone / Email Search</a> |
    Address Search<br>
    &nbsp;
</div>
<div>
    Optional Filters:
    <ui-select ng-model="optValues.city" theme="selectize"
               ng-disabled="disabled" style="width: 400px;"
               on-select="setFilter($select.selected.id, 'city')" allow-clear>
        <ui-select-no-choice>
        </ui-select-no-choice>
        <ui-select-match
                placeholder="{{optChoice.city.label}}">{{ optValues.city.label }}
        </ui-select-match>
        <ui-select-choices
                repeat="opt in Options.city | filter: $select.search"> <span
                ng-bind-html="opt.label | highlight: $select.search"></span></ui-select-choices>
    </ui-select>
    <ui-select ng-model="optValues.state" theme="selectize"
               ng-disabled="disabled" style="width: 400px;"
               on-select="setFilter($select.selected.id, 'state')" allow-clear>
        <ui-select-no-choice>
        </ui-select-no-choice>
        <ui-select-match
                placeholder="{{optChoice.state.label}}">{{ optValues.state.label }}
        </ui-select-match>
        <ui-select-choices repeat="opt in Options.state | filter: $select.search"> <span
                ng-bind-html="opt.label | highlight: $select.search"></span></ui-select-choices>
    </ui-select>
    <ui-select ng-model="optValues.zip" theme="selectize"
               ng-disabled="disabled" style="width: 400px;"
               on-select="setFilter($select.selected.id, 'zip')" allow-clear>
        <ui-select-no-choice>
        </ui-select-no-choice>
        <ui-select-match
                placeholder="{{optChoice.zip.label}}">{{ optValues.zip.label }}
        </ui-select-match>
        <ui-select-choices repeat="opt in Options.zip | filter: $select.search"> <span
                ng-bind-html="opt.label | highlight: $select.search"></span></ui-select-choices>
    </ui-select>
    <span ng-if="Options.distance.length > 0">
        Distance from {{valLocalZip}}
        <ui-select ng-model="optValues.distance" theme="selectize"
                   ng-disabled="disabled" style="width: 400px;"
                   on-select="setFilter($select.selected.id, 'distance')" allow-clear> <ui-select-no-choice>
            </ui-select-no-choice> <ui-select-match
                placeholder="{{optChoice.distance.label}}">{{ optValues.distance.label }}</ui-select-match>
            <ui-select-choices repeat="opt in Options.distance | filter: $select.search"> <span
                    ng-bind-html="opt.label | highlight: $select.search"></span> </ui-select-choices>
        </ui-select>
    </span>
    <form ng-submit="getDistance()" ng-hide="Options.distance.length > 0">
        <input type="text" ng-model="valLocalZip">
        <input type="submit" value="Set Local Zip Code" class="btn btn-primary">
    </form>
</div>
<p>
    <span ng-if="sdata.MCType && sdata.MCType.display == 'enum'">
        <a href="" ng-click="setFilter(0)" class="btn btn-success btn-xs">Show All</a> 
        <span ng-repeat="Value in sdata.MCType.MetaEnumValues">
            <a href="" ng-click="setFilter(Value.id)" class="btn btn-success btn-xs">{{ Value.name }}</a>
        </span>
        <br>
    </span>

    <a ng-click="setMethod(0)">No Method</a>,
    <a ng-click="setMethod(1)">SMS</a>,
    <a ng-click="setMethod(3)">EMail</a>,
    <a ng-click="setMethod(10)">Preferred Contact</a>
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th><!-- Action --></th>
        <th><a ng-click="sendComm(); $event.preventDefault()" href="#">Create Message</a></th>
    </tr>
    <tr dir-paginate="det in detail | filter:runFilter | filter:q | orderBy:predicate:reverse | itemsPerPage: pageSize">
        <td>{{ det.sname }}</td>
        <td>{{ det.fname }}</td>
        <td>{{ det.city }}</td>
        <td>{{ det.state }}</td>
        <td>{{ det.zip }}</td>
        <td><a href="/people/angular_view/#?person_id={{det.Person.id}}"
               class="btn btn-xs btn-primary">View Individual</a></td>
        <td>
            <ui-select ng-model="choice[det.id]" theme="selectize"
                       ng-disabled="disabled" style="width: 400px;"
                       allow-clear>
                <ui-select-no-choice>
                </ui-select-no-choice>
                <ui-select-match
                        placeholder="Choose Contact Method">{{ choice[det.Person.id].label }}
                </ui-select-match>
                <ui-select-choices
                        repeat="opt in det.PersonMethod | filter: $select.search"> <span
                        ng-bind-html="opt.label | highlight: $select.search"></span></ui-select-choices>
            </ui-select>
        </td>
    </tr>
</table>
<div class="text-center">
    <dir-pagination-controls boundary-links="true"
                             on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="/html/template/dirPagination.tpl.html"></dir-pagination-controls>
</div>