<div class="container">
    <div class="center">
        <span class="infoChi-big">Contact Information Add</span><br>
        <a href="#/people">People List</a> | 
        <a href="#/people/create">Create Person</a> | 
        <!--<a href="/people/import">Import</a> | --> 
        <a href="#/people/find">Phone / Email Search</a> | 
        <a href="#/people/address">Address Search</a><br>
        <span ng-if="person_group_id">
            | <a href="#/person_groups/view/#?person_group_id={{person_group_id}}">
                Return to Group Page</a>
        </span><br>&nbsp;
    </div>
    <div class="content row">
        <form ng-submit="submit()" class="well">
            <div>
                <div class="cos-xs-12 col-sm-3">
                    First Name
                </div>
                <div class="col-xs-12 col-sm-9">
                    <input ng-model="data.fname" type="text" size="60">
                </div>
            </div>
            <div>&nbsp;</div>
            <div>
                <div class="cos-xs-12 col-sm-3">
                    Last Name
                </div>
                <div class="col-xs-12 col-sm-9">
                    <input ng-model="data.sname" type="text" size="60">
                </div>
            </div>
            <div>&nbsp;</div>
            <div>
                <div class="cos-xs-12 col-sm-3">
                    Address
                </div>
                <div class="col-xs-12 col-sm-9">
                    <input ng-model="data.address" type="text" size="60">
                </div>
            </div>
            <div>&nbsp;</div>
            <div>
                <div class="cos-xs-12 col-sm-3">
                    City
                </div>
                <div class="col-xs-12 col-sm-9">
                    <input ng-model="data.city" type="text" size="60">
                </div>
            </div>
            <div>&nbsp;</div>
            <div>
                <div class="cos-xs-12 col-sm-3">
                    State
                </div>
                <div class="col-xs-12 col-sm-9">
                    <input ng-model="data.state" type="text" size="60">
                </div>
            </div>
            <div>&nbsp;</div>
            <div>
                <div class="cos-xs-12 col-sm-3">
                    Zip
                </div>
                <div class="col-xs-12 col-sm-9">
                    <input ng-model="data.zip" type="text" size="60">
                </div>
            </div>
            <div>&nbsp;</div>
            <div>
                <div class="cos-xs-12 col-sm-3">
                    Cell Phone
                </div>
                <div class="col-xs-12 col-sm-9">
                    <input ng-model="data.cell" type="text" size="60">
                </div>
            </div>
            <div>&nbsp;</div>
            <div>
                <div class="cos-xs-12 col-sm-3">
                    Email
                </div>
                <div class="col-xs-12 col-sm-9">
                    <input ng-model="data.email" type="text" size="60">
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-sm-offset-9 col-sm-3">
                    <input type="submit" value="Add Person"
                           class="btn btn-block btn-success center">
                </div>
            </div>
        </form>
    </div>
</div>