<div class="modal-header">
    <h3 class="modal-title">{{modal.title}}</h3>
</div>
<div class="modal-body">
    <table>
        <tr>
            <td>
                <span>
                    <ui-select ng-model="newMethod" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="setType($select.selected)" allow-clear> <ui-select-no-choice>
                        </ui-select-no-choice> <ui-select-match
                            placeholder="{{newMethod.method}}">{{newMethod.method}}</ui-select-match>
                        <ui-select-choices repeat="opt in methodTypes | filter:filterTypes | filter: $select.search"><!---->
                            <span ng-bind-html="opt.method | highlight: $select.search"></span>
                        </ui-select-choices> </ui-select>
                </span>
            </td>    
        </tr>
        <tr>
            <td><input type="text" size="40" ng-model="data.method"></td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
