<div class="modal-header">
    <h3 class="modal-title">{{ modal.title }}</h3>
</div>
<div class="modal-body">
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" size="40" ng-model="data.fname"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" size="40" ng-model="data.sname"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" size="40" ng-model="data.address"></td>
        </tr>
        <tr>
            <td>City</td>
            <td><input type="text" size="40" ng-model="data.city"></td>
        </tr>
        <tr>
            <td>State</td>
            <td><input type="text" size="40" ng-model="data.state"></td>
        </tr>
        <tr>
            <td>Zip</td>
            <td><input type="text" size="40" ng-model="data.zip"></td>
        </tr>
        <tr>
            <td>OptOut Status (Change is permanent)</td>
            <td>
                <div ng-if="data.opt_out_status == 1">{{ choices.opt_out_status[data.opt_out_status].name }}</div>
                <div ng-if="data.opt_out_status == 0">

                    <ui-select ng-model="opt_out_status.name" theme="selectize"
                               ng-disabled="disabled" style="width: 200px;"
                               on-select="update_opt_out_status($select.selected)" allow-clear>
                        <ui-select-no-choice></ui-select-no-choice>
                        <ui-select-match
                                placeholder="{{opt_out_status_name}}">{{ opt_out_status_name }}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="opt in choices.opt_out_status | filter:filterMethodTypes | filter: $select.search">
                            <span ng-bind-html="opt.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
