<div>
    <div class="center">
        <span class="infoChi-big">People - Lookup</span><br>
        <a href="#/people">People List</a> | 
        <a href="#/people/create">Create Person</a> | 
        <!-- | <a href="/people/import">Import</a> | -->
        <!--<a href="#/people/find">Phone / Email Search</a> | --> 
        <a href="#/people/address">Address Search</a>
        <br>&nbsp;
    </div>
    <form ng-submit="submit()">
        <div class="well">
            <div class="row">
                <span class="col-sm-3">Phone Number or Email</span><span
                    class="col-sm-9"><input type="text" ng-model="text" name="text"
                                        size="40" /></span>
                <div>&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-sm-offset-9 col-sm-3">
                    <input type="submit" value="Find Contact"
                           class="btn btn-block btn-success center">
                </div>
            </div>
        </div>
    </form>
    <div ng-if="personMethod_id != 0">
        Results
        <div class="well">
        <span ng-repeat="dat in data">
            Name: <a href="#/people/view/{{dat.person.id}}">{{dat.person.sname}},
                {{dat.person.fname}}</a><br>
        </span>
        </div>
    </div>
</div>
