<div>
    <div class="center">
        <span class="infoChi-big">People - {{ showStatus() }}</span><br>
        <a href="#/people/create">Create Person</a>
        <!-- | <a href="/people/import">Import</a>--> |
        <a href="#/people/find">Phone / Email Search</a> |
        <a href="#/people/address">Address Search</a><br>
        <a ng-click="setDeletedList(0)" ng-enter="removeFeature(feature.id)" href="#/people">Active</a> |
        <a ng-click="setDeletedList(1)" ng-enter="removeFeature(feature.id)" href="#/people">Deleted</a><br>
        &nbsp;
    </div>
    <table class="infoChi-table">
        <tr class="infoChi-table">
            <td class="infoChi-table">Name Search <a
                    uib-tooltip="{{$storage.tooltips[1]}}"><i class="fa fa-info-circle fa-lg"></i></a></td>
            <td class="infoChi-table">
                <input type="text" name="input" size="80" ng-model="q" class="infoChi-input">
                <a ng-if="q" href="" ng-click="btnClearSearch()" class="btn btn-xs btn-success">Clear</a>
            </td>
        </tr>
    </table>

    <table class="table table-hover table-striped">
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th><!-- Action --></th>
            <th><!-- Action --></th>
        </tr>
        <tr
                dir-paginate="disp in people | filter:q | orderBy:predicate:reverse | itemsPerPage: pageSize">
            <td>{{ disp.sname }}</td>
            <td>{{ disp.fname }}</td>
            <td><a href="#/people/view/{{disp.id}}"
                   class="btn btn-xs btn-primary">View</a></td>
            <td>
                <span ng-if="disp.deleted == 0">
                    <a ng-click="changeStatus(disp)" class="btn btn-xs btn-danger">Delete</a>
                </span>
                <span ng-if="disp.deleted == 1"><a ng-click="changeStatus(disp)"
                                                   class="btn btn-xs btn-danger">Restore</a></span>
            </td>
        </tr>
    </table>
    <div class="text-center">
        <dir-pagination-controls
                boundary-links="true"
                on-page-change="pageChangeHandler(newPageNumber)"
                template-url="/html/template/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
</div>
