<div style="text-align: center;">
    <span style="font-size: 200%">Person - {{ person.fname }} {{ person.sname }}</span>
    <a ng-click="open()"><i class="fa fa-edit" aria-hidden="true"></i></a><br>
    <a href="#/people/">People List</a> |
    <a href="#/people/create">Create Person</a>
    <!-- | <a href="#s/people/import">Import</a>--> |
    <a href="#/people/find">Phone / Email Search</a> |
    <a href="#/people/address">Address Search</a><br>

</div>
<!-- General Information -->
<div>
    <!-- Person Information -->
    <table class=" table">
        <tr>
            <td style="width: 25%"></td>
            <td style="width: 75%"></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>{{ person.fname }}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{ person.sname }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{ person.address }}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{ person.city }}</td>
        </tr>
        <tr>
            <td>State</td>
            <td>{{ person.state }}</td>
        </tr>
        <tr>
            <td>Zip</td>
            <td>{{ person.zip }}</td>
        </tr>
        <tr>
            <td>Opt Out Status</td>
            <td>{{ choices.opt_out_status[person.opt_out_status].name }}</td>
        </tr>
        <tr>
            <td><a href="#/logs/person/{{person.id}}">View Conversation Log</a></td>
        </tr>
    </table>
</div>
<div class="well">
    <!-- Contact Methods -->
    <flash-message name="areaMethod"></flash-message>
    <form ng-submit="addMethod()">
        <table class="table table-striped">
            <tr>
                <th>Type</th>
                <th>Method</th>
                <th><!-- Edit Method --></th>
                <th><!-- Send To --></th>
                <th><!-- Delete --></th>
                <th><!-- Set as Primary --></th>
            </tr>
            <tr ng-repeat="method in methods">
                <td>{{ method.Type }}</td>
                <td>{{ method.forMethod }}</td>
                <td><a ng-if="!method.disallowEdit" ng-click="editMethod(undefined, method)"
                       class="btn btn-xs btn-primary">Edit Method</a></td>
                <td>
                    <a href="#/queue_messages/create/pm_ids/{{method.id}}"
                       class="btn btn-xs btn-success">Compose</a></td>
                <td>
                    <a ng-click="methodDelete(method.id); $event.preventDefault()"
                       class="btn btn-xs btn-danger">Delete</a>
                </td>
                <td>
                    <span ng-if="!method.disallowPreferred">
                        <a ng-click="setPreferred(method.method)"
                           class="btn btn-xs btn-primary">Set as Preferred</a></span>
                </td>
            </tr>
            <tr>

                <td>
                    <span>
                        <ui-select ng-model="newMethod.type" theme="selectize"
                                   ng-disabled="disabled" style="width: 200px;"
                                   on-select="chooseType($select.selected)" allow-clear> <ui-select-no-choice>
                            </ui-select-no-choice> <ui-select-match
                                placeholder="{{newMethod.type.method}}">{{ newMethod.type.method }}</ui-select-match>
                            <ui-select-choices
                                    repeat="opt in types | filter:filterMethodTypes | filter: $select.search">
                                <span ng-bind-html="opt.method | highlight: $select.search"></span>
                            </ui-select-choices> </ui-select>
                    </span>
                </td>
                <td><input type="text" size="40" ng-model="newMethod.method"
                           placeholder="{{newMethod.methodPlaceholder}}"></td>
                <td colspan="4"><input type="submit" class="btn btn-success" value="Add Contact Method"></td>

            </tr>
        </table>
    </form>
</div>
<!-- Person Information -->
<!-- Additional Person Information -->
<div ng-if="hasFeature(6)" class="well">
    <div class="infoChi-big center">Additional Information</div>
    <flash-message name="areaMetaColumn"></flash-message>
    <div>
        <ui-select ng-model="add_to_meta" theme="selectize"
                   ng-disabled="disabled" style="width: 400px;"
                   on-select="addToMeta($select.selected)" allow-clear>
            <ui-select-no-choice>
            </ui-select-no-choice>
            <ui-select-match placeholder="Add to Meta">Add
                to Meta
            </ui-select-match>
            <ui-select-choices
                    repeat="metaColumn in metaColumnsByType[1] | filter: filterMetaList | filter: $select.search"> <span
                    ng-bind-html="metaColumn.name | highlight: $select.search"></span></ui-select-choices>
        </ui-select>
    </div>
    <table ng-if="metaData.length" class="table table-hover table-striped">
        <tr>
            <th>Name</th>
            <th>Data</th>
            <th>Action</th>
        </tr>
        <tr dir-paginate="metaDat in metaDataByType[1] | itemsPerPage: pageSize" pagination-id="meta">
            <td>{{ metaDat.meta_column.name }}</td>
            <td>
                <span ng-if="metaDat.meta_column.m_c_type.display == 'st'">
                    <input type="text" size="20" ng-model="metaDat.m_d_value_text.value">
                </span>
                <span ng-if="metaDat.meta_column.m_c_type.display == 'lt'">
                    <textarea rows="3" cols="20" ng-model="metaDat.m_d_value_text.value"></textarea>
                </span>
                <span ng-if="metaDat.meta_column.m_c_type.display == 'enum'">
                    <ui-select ng-model="metaDat.m_d_value_text.meta_enum_value" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="updateMetaEnum($select.selected, metaDat)" allow-clear> <ui-select-no-choice>
                        </ui-select-no-choice> <ui-select-match
                            placeholder="{{metaDat.m_d_value_text.meta_enum_value.name}}">{{ metaDat.m_d_value_text.meta_enum_value.name }}</ui-select-match> <ui-select-choices
                            repeat="dat in metaDataEnum[metaDat.meta_column.m_c_type.id] | filter: $select.search"> <span
                            ng-bind-html="dat.name | highlight: $select.search"></span> </ui-select-choices>
                    </ui-select>
                </span>
            </td>
            <td>
                <a href="#/meta_columns/view/{{metaDat.meta_column_id}}"
                   class="btn btn-xs btn-primary">View Group</a>
                <a ng-click="removeMeta(metaDat.id); $event.preventDefault()"
                   ng-enter="removeMeta(metaDat.meta_column_id)" href="#"
                   class="btn btn-xs btn-warning">Remove</a>
                <span ng-if="metaDat.m_d_value_text.value != metaDat.m_d_value_text.value_orig && metaDat.meta_column.m_c_type.display != 'enum'">
                    <a ng-click="updateMeta(metaDat); $event.preventDefault()"
                       class="btn btn-xs btn-primary">Update</a></span>
            </td>
        </tr>
    </table>
    <div class="text-center">
        <dir-pagination-controls boundary-links="true"
                                 on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/html/template/dirPagination.tpl.html"
                                 pagination-id="meta"></dir-pagination-controls>
    </div>
</div>
<!-- Additional Person Information -->
<!-- Additional Person Notes -->
<div ng-if="hasFeature(14)" class="well">
    <div class="infoChi-big center">Additional Notes</div>
    <flash-message name="areaMetaColumn2"></flash-message>
    <div>
        <ui-select ng-model="add_to_meta" theme="selectize"
                   ng-disabled="disabled" style="width: 400px;"
                   on-select="addToMeta($select.selected, 'areaMetaColumn2')" allow-clear>
            <ui-select-no-choice>
            </ui-select-no-choice>
            <ui-select-match placeholder="New Note - Pick Subject">New Note Pick Subject
            </ui-select-match>
            <ui-select-choices
                    repeat="metaColumn in metaColumnsByType[2] | filter: $select.search"> <span
                    ng-bind-html="metaColumn.name | highlight: $select.search"></span></ui-select-choices>
        </ui-select>
    </div>
    <table ng-if="metaData.length" class="table table-hover table-striped">
        <tr>
            <th>Subject</th>
            <th>Data</th>
            <th>Updated</th>
            <th>Action</th>
        </tr>
        <tr dir-paginate="metaDat in metaDataByType[2] | itemsPerPage: pageSize" pagination-id="meta">
            <td>{{ metaDat.meta_column.name }}</td>
            <td>
                <span ng-if="metaDat.meta_column.m_c_type.display == 'st'">
                    <input type="text" size="20" ng-model="metaDat.m_d_value_text.value">
                </span>
                <span ng-if="metaDat.meta_column.m_c_type.display == 'lt'">
                    <textarea rows="3" cols="20" ng-model="metaDat.m_d_value_text.value"></textarea>
                </span>
                <span ng-if="metaDat.meta_column.m_c_type.display == 'enum'">
                    <ui-select ng-model="metaDat.m_d_value_text.meta_enum_value" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="updateMetaEnum($select.selected, metaDat)" allow-clear> <ui-select-no-choice>
                        </ui-select-no-choice> <ui-select-match
                            placeholder="{{metaDat.m_d_value_text.meta_enum_value.name}}">{{ metaDat.m_d_value_text.meta_enum_value.name }}</ui-select-match> <ui-select-choices
                            repeat="dat in metaDataEnum[metaDat.meta_column.m_c_type.id] | filter: $select.search"> <span
                            ng-bind-html="dat.name | highlight: $select.search"></span> </ui-select-choices>
                    </ui-select>
                </span>
            </td>
            <td>{{metaDat.Updated}}</td>
            <td>
                <a ng-click="removeMeta(metaDat.id); $event.preventDefault()"
                   ng-enter="removeMeta(metaDat.meta_column_id)" href="#"
                   class="btn btn-xs btn-warning">Remove</a>
                <span ng-if="metaDat.m_d_value_text.value != metaDat.m_d_value_text.value_orig && metaDat.meta_column.m_c_type.display != 'enum'">
                    <a ng-click="updateMeta(metaDat); $event.preventDefault()"
                       class="btn btn-xs btn-primary">Update</a></span>
            </td>
        </tr>
    </table>
    <div class="text-center">
        <dir-pagination-controls boundary-links="true"
                                 on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/html/template/dirPagination.tpl.html"
                                 pagination-id="meta"></dir-pagination-controls>
    </div>
</div>
<!-- Additional Person Notes -->
<!--Group Membership-->
<div ng-if="group_list.length || groups.length" class="well">
    <div class="infoChi-big center">Group Membership</div>
    <div ng-if="filterGroupTest()">
        <ui-select ng-model="add_to_group" theme="selectize"
                   ng-disabled="disabled" style="width: 400px;"
                   on-select="addToGroup($select.selected)" allow-clear>
            <ui-select-no-choice>
            </ui-select-no-choice>
            <ui-select-match placeholder="Add to Group">Add
                to Group
            </ui-select-match>
            <ui-select-choices
                    repeat="group in group_list | filter: filterGroupList | filter: $select.search"> <span
                    ng-bind-html="group.name | highlight: $select.search"></span></ui-select-choices>
        </ui-select>
    </div>
    <table ng-if="groups.length" class="table table-hover table-striped">
        <tr>
            <th>Group Name</th>
            <th></th>
            <th></th>
        </tr>
        <tr dir-paginate="group in groups | itemsPerPage: pageSize"
            pagination-id="group">
            <td>{{ group.group_name }}</td>
            <td><a href="#/person_groups/view/{{group.group_id}}"
                   class="btn btn-xs btn-primary">View / Edit Group</a></td>
            <td><a ng-click="removeFromGroup(group.id); $event.preventDefault()"
                   href="#" class="btn btn-xs btn-warning">Remove from Group</a></td>
        </tr>
    </table>
    <div class="text-center">
        <dir-pagination-controls boundary-links="true"
                                 on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/html/template/dirPagination.tpl.html"
                                 pagination-id="group"></dir-pagination-controls>
    </div>
</div>
<!-- Group Membership -->
<!-- Reminders -->
<div ng-if="hasFeature(15)" class="well">
    <div class="infoChi-big center">Create Reminder</div>
    <flash-message name="areaReminder"></flash-message>
    <form ng-submit="createReminder()">
        <table class="table">
            <tr>
                <td>Reminder Message</td>
                <td><textarea ng-model="new_reminder.message"></textarea></td>
            </tr>
            <tr>
                <td>When to Send Message</td>
                <td>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                            <div class="input-group"><input id="OutgoingMessageProcesstime"
                                                            name="data[OutgoingMessage][processtime]" type="text"
                                                            class="form-control" data-ng-model="data.dateDropDownInput"><span
                                    class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="data.dateDropDownInput"
                                            data-before-render="startDateBeforeRender($dates)"
                                            data-datetimepicker-config="{ modelType:'YYYY-MM-DD hh:mm A Z', dropdownSelector: '.dropdown-toggle' }"/>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
        <input type="submit" value="Create Reminder" class="btn btn-success">
    </form>
</div>

<!--         Event Attendance 
         Event Invites 
        <div ng-if="invites.length" class="well">
            <div class="infoChi-big center">Event Invites</div>
            <table class="table table-hover table-striped">
                <tr>
                    <th>Event Name</th>
                    <th>Response</th>
                </tr>
                <tr
                    dir-paginate="invite in invites | filter:runFilter | itemsPerPage: pageSize"
                    pagination-id="invite">
                    <td><a href="/events/angular_view/#?event_id={{invite.event_id}}">{{invite.event_name}}</a></td>
                    <td>{{invite.response_name}}</td>
                </tr>
            </table>
            <div class="text-center">
                <dir-pagination-controls boundary-links="true"
                                         on-page-change="pageChangeHandler(newPageNumber)"
                                         template-url="/html/template/dirPagination.tpl.html"
                                         pagination-id="invite"></dir-pagination-controls>
            </div>
        </div>-->
