<div>
    <div class="center">
        <span class="infoChi-big">Properties - Create</span><br> <a
            href="#/properties">Properties List</a><br>&nbsp;
    </div>
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" ng-model="Data.name"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea ng-model="Data.description"></textarea></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><textarea ng-model="Data.address"></textarea></td>
        </tr>
    </table>
    <a href="" ng-click="updateData()" class="btn btn-primary">Create</a>
</div>
