<div>
    <div class="center">
        <span class="infoChi-big">Tooltips</span><a
            href="#/tooltips/create"><br>Create Tooltip</a><br>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dat in data">
                <td>{{dat.title}}</td>
                <td>{{dat.body}}</td>
                <td><a href="#/tooltips/{{dat.id}}" class="btn btn-xs btn-success">View</a></td>
                <!--<td><a href="#/outgoing_messages/delete/{{message.id}}" class="btn btn-xs btn-danger">Delete</a></td>-->
            </tr>
        </tbody>
    </table>
</div>