<div>
    <div class="center">
        <span class="infoChi-big">Tooltips - View &amp; Edit</span><br> <a
            href="#/properties">Tooltips List</a><br>&nbsp;
    </div>
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" ng-model="Data.title"></td>
        </tr>
        <tr>
            <td>Body</td>
            <td><textarea ng-model="Data.body"></textarea></td>
        </tr>
    </table>
    <a href="" ng-click="updateData()" class="btn btn-primary">Update</a>
</div>
