<div class="center">
    <span class="infoChi-big">Custom Email Addresses</span><br>
    <a href="#/custom_emails/0">Create Address</a>
</div>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Email Address</th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="dat in data">
        <td>{{dat.name}}</td>
        <td>{{dat.username}}@{{dat.domain.domain}}</td>
        <td><a href="#/custom_emails/{{dat.id}}" class="btn btn-xs btn-primary">View / Edit</a></td>
        <td><a ng-if="dat.Settings.recipients.length == 0" ng-click="markDeleted(dat.id)" class="btn btn-xs btn-danger">Delete</a></td>
    </tr>
</table>
An email address of catchall@domain.com will catch may to any address that is not defined.