<div class="center">
    <span class="infoChi-big">Custom Email Addresses</span><br><a
        href="#/custom_emails">Back to List</a><br>
</div>
<table class="table table-striped table-hover">
    <tr>
        <td>Domain Name</td>
        <td>
            <span ng-if="data.id != 0">{{data.domain.domain}}</span>
            <span ng-if="data.id == 0">
                <ui-select ng-model="Selected.domain" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           allow-clear on-select="updateChoice('domain')"> <ui-select-no-choice>
                        </ui-select-no-choice> <ui-select-match
                        placeholder="Choose Domain Name">{{Selected.domain.domain}}</ui-select-match>
                        <ui-select-choices repeat="choice in Domains | filter: $select.search">
                            <span ng-bind-html="choice.domain | highlight: $select.search"></span>
                        </ui-select-choices> </ui-select>
                </span>
        </td>
    </tr>
    <tr>
        <td>Name</td>
        <td><input type="text" ng-model="data.name"></td>
    </tr>

    <tr>
        <td>Username</td>
        <td>
            <span ng-if="data.id != 0">{{data.username}}</span>
            <span ng-if="data.id == 0"><input type="text" ng-model="data.username"></span>
        </td>
    </tr>
    <tr>
        <td>E-mail Address</td>
        <td>{{data.username}}@{{data.domain.domain}}</td>
    </tr>
    <tr>
        <td>Recipient(s)
            <!-- <a uib-tooltip="{{tooltips[2]}}"><i class="fa fa-info-circle fa-lg"></i></a> --></td>
        <td>
            <span>
                <!--<input type="hidden" value="{{value}}" id="contacts" name="contacts">-->
                <ui-select ng-model="choice.selected" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           on-select="dropdownChoice.recip($select.selected)" reset-search-input="true"> <ui-select-match
                        placeholder="Choose Person By Name">Choose Person By Name</ui-select-match>
                    <ui-select-choices
                            repeat="friend in recip_contacts | filter:customFilter.recip | filter: $select.search">
                        <span ng-bind-html="friend.label | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </span>
            <table class="table table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                <tr ng-repeat="recip in data.Settings.recipients">
                    <td>{{recip.label}}</td>
                    <td><a href="" ng-click="remove.recip(key)" class="btn btn-xs btn">Remove</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<a ng-click="updEmail()" class="btn btn-success">Save Data</a>