<div>
    <div style="text-align: center;">
        <span style="font-size: 200%">Shorts - {{showStatus()}}</span><br> <a href="#/shorts/view/0">Create Short URL</a>
        <br>
        <a ng-click="setDeletedList(0)" ng-enter="removeFeature(feature.id)" href="#/shorts">Active</a> | 
        <a ng-click="setDeletedList(1)" ng-enter="removeFeature(feature.id)" href="#/shorts">Deleted</a><br>
    </div>
    <table ng-if="Data.length" class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Code</th>
                <th>Name</th>
                <th>URL</th>
                <th><!-- Action --></th>
                <th><!-- Action --></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="Dat in Data">
                <td>{{Dat.id}}</td>
                <td>"<a href="/s/{{Dat.Code}}">{{Dat.Code}}</a>"</td>
                <td>{{Dat.name}}</td>
                <td>{{Dat.url}}</td>
                <td><a href="#/shorts/view/{{Dat.id}}" class="btn btn-xs btn-primary">View</a></td>
                <td>
                    <a ng-if="Dat.deleted == 0" ng-click="changeStatus(Dat)" class="btn btn-xs btn-danger">Set as Deleted</a>
                    <a ng-if="Dat.deleted == 1" ng-click="changeStatus(Dat)" class="btn btn-xs btn-success">Restore</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
