<form ng-submit="updateData()">
    <div style="text-align: center;">
        <span style="font-size: 200%">Shorts - {{getAction()}}</span><br>
        <a href="#/shorts">Short URL List</a> | 
        <a href="#/shorts/view/0">Create Short URL</a><br>&nbsp;
    </div>
    <table class="table table-striped">
        <tr ng-if="Data.id">
            <td>id</td>
            <td>{{Data.id}}</td>
        </tr>
        <tr ng-if="Data.id">
            <td>Code</td>
            <td>"{{Data.Code}}"</td>
        </tr>
        <tr>
            <td>Link</td>
            <td><a href="/s/{{Data.Code}}">{{Data.name}}</a></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" ng-model="Data.name"></td>
        </tr>
        <tr>
            <td>URL</td>
            <td><input type="text" ng-model="Data.url"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                {{getStatus()}}
            </td>
        </tr>
    </table>
    <input type="submit" value="Save Data" class="btn btn-success">
    <a ng-show="Data.deleted == 0" ng-click="changeStatus()" class="btn btn-danger">Set as Deleted</a>
    <a ng-show="Data.deleted == 1" ng-click="changeStatus()" class="btn btn-success">Restore to Active</a>

</form>
<p>
    <br>

</p>